[2013-09-19 17:10] seanwarren opened #5 "Laundry"
The version 3.7.21 does not do my laundry.

**Note**: This issue has been automatically migrated from Bitbucket
Created by [rlaine](https://bitbucket.org/rlaine) on 2012-08-09 16:20:25+00:00, last updated: 2012-11-26 19:15:03+00:00

[2013-09-19 17:10] seanwarren opened #6 "Export to ppt on current slide"
When exporting to current ppt, I feel it'd be more appropriate to export it to the latest slide open on the ppt rather than adding/creating another slide on which the graph is pasted.

**Note**: This issue has been automatically migrated from Bitbucket
Created by [rlaine](https://bitbucket.org/rlaine) on 2012-08-09 16:29:57+00:00, last updated: 2012-11-26 19:15:03+00:00

[2013-09-19 17:10] #6 closed, assigned to seanwarren

[2013-09-19 17:10] seanwarren opened #7 "Export on current ppt: images, correlation, histogram"
It'd be useful to be able to export histograms, single images (as opposed to the gallery) and teh correlation plot, to the current ppt file.

**Note**: This issue has been automatically migrated from Bitbucket
Created by [rlaine](https://bitbucket.org/rlaine) on 2012-08-09 16:31:35+00:00, last updated: 2013-05-12 11:17:29+00:00

[2013-09-19 17:10] #7 closed, assigned to seanwarren

[2013-09-19 17:17] seanwarren opened #8 "Save software version in metadata"
As a sanity check, it would be useful to have the software version used in the fitting saved with fitting metadata (or elsewhere).

**Note**: This issue has been automatically migrated from Bitbucket
Created by Anonymous on 2012-08-14 14:59:18+00:00, last updated: 2012-11-26 19:15:03+00:00

[2013-09-19 17:17] seanwarren opened #9 "Import metadata, replace rather than append?"
When loading modified/corrected plate metadata files, the metadata is appended to the old/incorrect metadata, rather than replacing it.  Can the choice of behaviours be made by the user?

**Note**: This issue has been automatically migrated from Bitbucket
Created by @seanwarren on 2012-08-21 12:49:30+00:00, last updated: 2013-06-12 14:34:50+00:00

[2013-09-19 17:17] #9 closed, assigned to seanwarren

[2013-09-19 17:17] seanwarren opened #10 "RFE 1 from Beta testing in Dundee."
RFE 1: Order the projects in OMERO alphabetically - when trying to go OMERO > Set working data > Dataset, the list of Projects available seems to be ordered by time of the Project creation or completely random. Instead, order the list alphabetically

**Note**: This issue has been automatically migrated from Bitbucket
Created by @imunro on 2013-04-16 13:59:29+00:00, last updated: 2013-04-25 11:30:2

[2013-09-19 17:17] #10 closed, assigned to imunro

[2013-09-19 17:17] seanwarren opened #11 "RFE2 from beta testing in Dundee"
On selecting histogram or Image tabs no parameter is selected by default so nothing is displayed. Perhaps set tau-1 (param 0 ?) as default.

**Note**: This issue has been automatically migrated from Bitbucket
Created by @imunro on 2013-04-16 14:02:45+00:00

[2013-09-19 17:17] seanwarren opened #12 "Common ZCT chooser."
in Load_FLIM_dataset & load_FLIM_dataset_polarization use a common ZCT_chooser for both routines ( needs to allow 2 channels for polarization)

**Note**: This issue has been automatically migrated from Bitbucket
Created by @imunro on 2013-04-23 11:54:08+00:00, last updated: 2013-04-25 11:27:27+00:00

[2013-09-19 17:17] #12 closed, assigned to imunro

[2013-09-19 17:17] seanwarren opened #13 "Prompt for channel before choosing files in File>load FLIM dataset> load TCSPC datas"
Shouldn't this be the other way round ??

**Note**: This issue has been automatically migrated from Bitbucket
Created by Anonymous on 2013-04-25 11:25:10+00:00

[2013-09-19 17:17] seanwarren opened #14 "Failure to update decay display for nonexistent pixels."
If you are working with one (old) image & have the cursor set to a pixel (decay tab showing this data with or without a fit & residuals) & then load a second image.

In the case where the particular pixel does not exist in the new image ( ie new image smaller than old).

The decay does not update or clear! The old data (plus fit) continues to be displayed.

Spotted by Eagle-eye Alexandrov.

**Note

[2013-09-19 17:17] #14 closed, assigned to seanwarren

[2013-09-19 17:17] seanwarren opened #15 "dataset_selection needs a cancel button/behaviour"
If you try to bale out of dataset_selection it does not behave well!

**Note**: This issue has been automatically migrated from Bitbucket
Created by @imunro on 2013-05-07 17:30:39+00:00, last updated: 2013-05-24 16:02:26+00:00

[2013-09-19 17:17] #15 closed, assigned to imunro

[2013-09-19 17:17] seanwarren opened #16 "Variable integration time"
Data with variable integration time fits fine with "Fit Selected Decay", but not with "Fit Dataset"

**Note**: This issue has been automatically migrated from Bitbucket
Created by @seanwarren on 2013-05-10 20:31:56+00:00, last updated: 2013-06-12 14:28:41+00:00

[2013-09-19 17:17] #16 closed, assigned to seanwarren

[2013-09-19 17:17] seanwarren opened #17 "Reporting artificially low chi2 in "Fit selected decay""
For a given pixel fitting via "Fit selected decay" can report a very low << 1 value for chi2.
whereas Fitting via "Fit dataset"  reports a plausible ~= 1 value  for the same pixel.
The plotted decay remains the same in both cases.

**Note**: This issue has been automatically migrated from Bitbucket
Created by @imunro on 2013-05-23 13:07:01+00:00, last updated: 2013-06-13 10:39:01+00:00

[2013-09-19 17:17] #17 closed, assigned to seanwarren

[2013-09-19 17:17] seanwarren opened #18 "Different fits obtained when fitting a single pixel via 'fit selected' with data-weighted & average-weighted."
Probably currently being fixed, Re-test!

**Note**: This issue has been automatically migrated from Bitbucket
Created by @imunro on 2013-05-23 14:33:27+00:00, last updated: 2013-06-12 16:35:03+00:00

[2013-09-19 17:17] #18 closed, assigned to seanwarren

[2013-09-19 17:17] seanwarren opened #19 "Error code -1002 on stop fit"
If stop fit is pressed soon after fit is started, subsequent fits return -1002 for a while, followed by a fatal error.

**Note**: This issue has been automatically migrated from Bitbucket
Created by @seanwarren on 2013-05-28 18:28:54+00:00, last updated: 2013-06-13 10:37:59+00:00

[2013-09-19 17:17] #19 closed, assigned to seanwarren

[2013-09-19 17:17] seanwarren opened #20 "Bug in bug report (metabugs...)"
Help-File Bug Report... and Help-Open Issue Tracker... return errors:

Undefined variable "helpUtils" or class "helpUtils.checkForDemoRedirect".

Error in web (line 94)

Error in front_end_menu_controller/menu_help_tracker_callback (line 901)

Error in front_end_menu_controller/set_callbacks/@(varargin)obj.menu_help_tracke
r_callback(varargin{:})

Error using waitfor
Error while evaluating uimenu

[2013-09-19 17:17] #20 closed, assigned to imunro

[2013-09-19 17:17] seanwarren opened #21 "TimerFcn error when fitting 'regions' on a mac."
Possibly a threading problem. Re-test when the current theading work is finished.

DLL execution time: 2.8132
Error while evaluating TimerFcn for timer 'timer-1'

Matrix dimensions must agree.

**Note**: This issue has been automatically migrated from Bitbucket
Created by @imunro on 2013-05-29 16:17:08+00:00, last updated: 2013-06-12 12:06:03+00:00

[2013-09-19 17:17] #21 closed, assigned to imunro

[2013-09-19 17:17] seanwarren opened #22 "Progress bar does not update when fitting a single region dataset globally,"
Replace wait_handle with a GUIDE message box (text only). TBD when the current threading work is finished & issue 21 (TimerFcn problem) is resolved.

**Note**: This issue has been automatically migrated from Bitbucket
Created by @imunro on 2013-05-29 16:22:40+00:00, last updated: 2013-06-12 14:29:28+00:00

[2013-09-19 17:17] #22 closed, assigned to imunro

[2013-09-19 17:17] seanwarren opened #23 "Transpose results table?"
...to make it easier to manipulate in Excel

**Note**: This issue has been automatically migrated from Bitbucket
Created by @seanwarren on 2013-05-31 13:48:49+00:00, last updated: 2013-06-12 14:28:13+00:00

[2013-09-19 17:18] #23 closed, assigned to nobody

[2013-09-19 17:18] seanwarren opened #24 "Combine data wellwise"
Add wellwise to combination options in plotter.

**Note**: This issue has been automatically migrated from Bitbucket
Created by @seanwarren on 2013-05-31 14:23:39+00:00, last updated: 2013-09-18 21:44:35+00:00

[2013-09-19 17:18] seanwarren opened #25 "One-click export plots for all parameters?"
For given combination of Label, Combine, Error bars, Display and Filters, it would be useful to export plots for all of the parameter fields at once.

**Note**: This issue has been automatically migrated from Bitbucket
Created by @seanwarren on 2013-06-03 08:57:41+00:00

[2013-09-19 17:18] seanwarren opened #26 "Bug when using gamma weighting with smoothing"
Gamma weighting produces incorrect values when smoothing due to modifcation of poisson noise.

**Note**: This issue has been automatically migrated from Bitbucket
Created by @seanwarren on 2013-06-12 15:54:14+00:00, last updated: 2013-06-13 10:38:12+00:00

[2013-09-19 17:18] #26 closed, assigned to seanwarren

[2013-09-19 17:18] seanwarren opened #27 "Setting a min > max for the lifetime limits used in the colour maps is currently possible"
Doing this results in a string of display errors. Should be disallowed.

**Note**: This issue has been automatically migrated from Bitbucket
Created by @imunro on 2013-06-20 10:53:59+00:00, last updated: 2013-06-20 10:54:32+00:00

[2013-09-19 17:18] #27 closed, assigned to nobody

[2013-09-19 17:18] seanwarren opened #28 "Error importing .csv as IRF"
IRF import fails for .csv (which is now default export for decays)

**Note**: This issue has been automatically migrated from Bitbucket
Created by @seanwarren on 2013-06-24 21:57:59+00:00, last updated: 2013-07-24 15:07:40+00:00

[2013-09-19 17:18] #28 closed, assigned to seanwarren

[2013-09-19 17:18] seanwarren opened #29 "bug in visualization of Omero-stored fitting results"
sometimes loaded metadata don't contain the needed field "FileName" but there is "Well_FOV" field instead, - the fix should pick up whatever is there for FOV filename

**Note**: This issue has been automatically migrated from Bitbucket
Created by Anonymous on 2013-07-01 14:43:59+00:00, last updated: 2013-07-01 14:59:16+00:00

[2013-09-19 17:18] #29 closed, assigned to nobody

[2013-09-19 17:18] seanwarren opened #30 "error when assigning new "data_series" object in "fit" function"
happens in "clean_memory_mapping" when previous object was "OMERO_data_series"

**Note**: This issue has been automatically migrated from Bitbucket
Created by @yalexand on 2013-07-02 11:34:00+00:00, last updated: 2013-07-02 11:40:40+00:00

[2013-09-19 17:18] #30 closed, assigned to nobody

[2013-09-19 17:18] seanwarren opened #31 "Problems with exporting coloured histogram to .ppt (windows only)"
When r-clicking on a coloured histogram under windows the displayed image is a rainbow rectangle (until re-sized ??).

**Note**: This issue has been automatically migrated from Bitbucket
Created by @imunro on 2013-07-02 12:32:44+00:00

[2013-09-19 17:18] seanwarren opened #32 "Right-click on image tab fails."
No .ppt menu appears when right-clicking on the image tab. (Other tabs are fine)

**Note**: This issue has been automatically migrated from Bitbucket
Created by @imunro on 2013-07-02 12:34:51+00:00, last updated: 2013-09-18 21:42:17+00:00

[2013-09-19 17:18] #32 closed, assigned to nobody

[2013-09-19 17:18] seanwarren opened #33 "First gate delay set to zero regardless of file name"
Decay starts from t=0 regardless of where it should do (typically t~2000) in 4.5.4

**Note**: This issue has been automatically migrated from Bitbucket
Created by @seanwarren on 2013-07-05 11:50:27+00:00, last updated: 2013-08-04 13:09:32+00:00

[2013-09-19 17:18] #33 closed, assigned to nobody

[2013-09-19 17:18] seanwarren opened #34 "Make the IRF shift map faster"
You asked for it...

**Note**: This issue has been automatically migrated from Bitbucket
Created by Anonymous on 2013-07-09 16:15:35+00:00, last updated: 2013-08-04 13:10:14+00:00

[2013-09-19 17:18] #34 closed, assigned to seanwarren

[2013-09-19 17:18] seanwarren opened #35 "Fails to handle German characters in file names (as reported by Berlin team)"
We did a test with the OME format FLIM collected today our LaVision with Convallaria.  Your program will not load this format at all, please see the error message below:

Invalid character was detected.
Error using imfinfo (line 100)
Unable to open file "/Users/zoltancseresnyes/Documents/FLIMfit/FLIM-data-Jannike/130702_FLIM fu r Zoltan - OME-Tiff_13-28-39/FLIM fA r Zoltan - OME-Tiff_13-28-39_TDC_

[2013-09-19 17:18] seanwarren opened #36 "add functionality for saving TVB and IRF shift maps in Omero"
these data are to be kept as xml "file annotations" and loaded to analysis when needed

**Note**: This issue has been automatically migrated from Bitbucket
Created by @yalexand on 2013-07-10 10:44:26+00:00, last updated: 2013-07-10 13:54:25+00:00

[2013-09-19 17:18] #36 closed, assigned to nobody

[2013-09-19 17:18] seanwarren opened #37 "add functionality for importing/exporting segmentations to/from Omero"
segmentation shapes are to be saved as Omero ROIs attached to the image.
each image can preserve several segmentations, with special attributes for each, encoded in the ROI Description fields. When loading to FLIMfit, user is to be prompted by a chooser to pick up a particular segmentation.

**Note**: This issue has been automatically migrated from Bitbucket
Created by @yalexand on 2013-07-18 10:4

[2013-09-19 17:18] #37 closed, assigned to nobody

[2013-09-19 17:18] seanwarren opened #38 "wrong behavior of overlay mask visualization"
(when integrated intensity == 1) - Sean fixed it..

**Note**: This issue has been automatically migrated from Bitbucket
Created by @yalexand on 2013-07-18 14:28:14+00:00, last updated: 2013-07-18 14:32:56+00:00

[2013-09-19 17:18] #38 closed, assigned to nobody

[2013-09-19 17:18] seanwarren opened #39 "Crash when both live update and calculate errors are ticked"
See title!

**Note**: This issue has been automatically migrated from Bitbucket
Created by @seanwarren on 2013-07-18 14:29:54+00:00, last updated: 2013-07-24 15:01:16+00:00

[2013-09-19 17:18] seanwarren opened #40 "Fitting fails with spatially-varying IRF"
Fitting fails with spatially-varying IRF as per what you saw...

**Note**: This issue has been automatically migrated from Bitbucket
Created by Anonymous on 2013-07-22 16:34:55+00:00, last updated: 2013-07-24 14:59:04+00:00

[2013-09-19 17:18] #40 closed, assigned to seanwarren

[2013-09-19 17:18] seanwarren opened #41 "Fitting offset and time-varying background giving very long lifetimes and negative components"
Fitting offset and time-varying background giving very long lifetimes and negative components - may be due to insufficient photons/gates, also not using the pre-excitation data points while encountering bug.

**Note**: This issue has been automatically migrated from Bitbucket
Created by Anonymous on 2013-07-22 16:38:13+00:00, last updated: 2013-07-24 15:07:01+00:00

[2013-09-19 17:18] seanwarren opened #42 "IRF shift map appears to cause fit to fail"
Using "IRF shift map" for the IRF in the Advanced tab vs using "single point" makes the fitting fail, but only if using "fit dataset" - single point fits look ok.

Success% and iterations report -800 and -8 respectively when fitting dataset, but "fit selected decay" gives relatively sensible results...

**Note**: This issue has been automatically migrated from Bitbucket
Created by Anonymous on 201

[2013-09-19 17:18] seanwarren opened #43 "Imagewise fit doesn't terminate properly"
When a dataset is fitted imagewise, the fit progress bar gets to ~100% but the fit doesn't finish as expected.  If Stop Fit is clicked, the results are returned with no obvious problems.

**Note**: This issue has been automatically migrated from Bitbucket
Created by @seanwarren on 2013-07-25 12:41:03+00:00, last updated: 2013-09-18 14:14:45+00:00

[2013-09-19 17:18] seanwarren opened #44 "Ordering of long/short lifetimes"
Automatically reorder initial guesses so that tau1>tau2 (>tau3 etc?)

**Note**: This issue has been automatically migrated from Bitbucket
Created by @seanwarren on 2013-07-26 15:06:35+00:00, last updated: 2013-07-26 15:45:23+00:00

[2013-09-19 17:18] seanwarren opened #45 "add Acceptor images functionality for Omero data loading"
One should recognize and treat a situation when one can/should load acceptor images..

There are several ways -
1) from the same Dataset, recognized by the name
2) from separate Dataset linked by the Omero tag or annotation (?)
3) the same as 2) but with special menu item

also that should be done for 2 types of loading - from Datasets and Plates

**Note**: This issue has been automatically migrat

[2013-09-19 17:18] seanwarren opened #46 "FLIMfit cannot load an IRF which is attached to an image as an annotation."
Currently IRFs (as annotation) can only be loaded if they are attached to the dataset.
Potentially users might have one IRF per image.

**Note**: This issue has been automatically migrated from Bitbucket
Created by Anonymous on 2013-08-01 14:14:26+00:00, last updated: 2013-08-01 14:14:56+00:00

[2013-09-19 17:18] seanwarren opened #47 "Hugh Intensity merging issue"
Can you take the logarithm of the intensity in order to reduce the dynamic range of the intensity distribution.

A typical phrase used for this is the 'gamma factor' in case you want to look for an example implementation or something.

**Note**: This issue has been automatically migrated from Bitbucket
Created by [hsparks](https://bitbucket.org/hsparks) on 2013-08-02 14:50:49+00:00, last updated:

[2013-09-19 17:18] #47 closed, assigned to nobody

[2013-09-19 17:18] seanwarren opened #48 "Possible hyperthreading issue reported by Dundee (possibly mac specific)"
Crash exhibited during pixel wise fitting of a single image only when fitting a biexp after previously fitting a monoexp to the same data.
(Going directly to fiitting the biexp was apparently fine)
Four core machine 8  threads.

Reducing thread no to four provided workaround.

Can't replicate on my 2 core (2 thread) Mac.

On 31 Jul 2013, at 17:02, Petr Walczysko p.walczysko@dundee.ac.uk
wrote:

So

[2013-09-19 17:18] seanwarren opened #49 "Save as -> matlab fig"
Attempting to save a matlab figure via a r-click & te 'save as" menu
generates the following:

confirmed on mac & Win64

Warning: Unknown option in argument: 'fig'.

  In abstract_display_controller>abstract_display_controller.save_as at 132
  In abstract_display_controller>@(~,~,~)obj.save_as() at 70
Error using savefig (line 222)
No output format given.

Error in abstract_display_controller/save

[2013-09-19 17:18] seanwarren opened #50 "Swap File/OMERO menus"
For consistency?

**Note**: This issue has been automatically migrated from Bitbucket
Created by @seanwarren on 2013-08-14 10:55:10+00:00

[2013-09-19 17:18] seanwarren opened #51 "Suppress warnings relating to Java AWT"
To avoid the log window filling up with AWT warnings and potentially displacing more useful warnings?

**Note**: This issue has been automatically migrated from Bitbucket
Created by @seanwarren on 2013-08-28 15:47:20+00:00

[2013-09-19 17:18] seanwarren opened #52 "Error handling is missing for OMERO "Export FLIM maps" and "Export Fitting Results" options"
These options only work when both raw data and fitting results are loaded.
If either isn't held, the error is thrown in Matlab version and compiled FLIMfit just does nothing, reports nothing.
Solution - provide error messages.

**Note**: This issue has been automatically migrated from Bitbucket
Created by @yalexand on 2013-09-06 11:16:08+00:00, last updated: 2013-09-06 12:23:18+00:00

[2013-09-19 17:18] #52 closed, assigned to nobody

[2013-09-19 17:19] seanwarren opened #53 "Image segmentations are not downloaded from OMERO if single image was loaded"
Image id isn't stored in "data_series", causing this error

**Note**: This issue has been automatically migrated from Bitbucket
Created by @yalexand on 2013-09-06 12:26:10+00:00, last updated: 2013-09-06 12:43:02+00:00

[2013-09-19 17:19] #53 closed, assigned to nobody

[2013-09-19 17:19] seanwarren opened #54 "OMERO segmentation: bug fix + 2 new buttons "Remove Segmentation" and "Remove All""
the bug: for single loaded image, segmentation isn't saved in Omero because of wrong check condition.
buttons are needed for better management.

**Note**: This issue has been automatically migrated from Bitbucket
Created by @yalexand on 2013-09-06 15:02:34+00:00

[2013-09-19 17:19] seanwarren opened #55 "Image visualization bug on "loading fitting data back from Omero""
obj.background_value is set incorrectly, change to "0"

**Note**: This issue has been automatically migrated from Bitbucket
Created by @yalexand on 2013-09-17 13:15:05+00:00

[2013-09-19 17:19] seanwarren opened #56 "Calculate irf shift fails in deployed code on (MCR)"
No error messages! Just seems to die unfortunately.
Confirmed on both Mac & PC.

**Note**: This issue has been automatically migrated from Bitbucket
Created by @imunro on 2013-09-18 21:35:03+00:00, last updated: 2013-09-19 11:29:05+00:00

[2013-09-19 17:19] seanwarren opened #57 "when importing from OMERO, datasets should be sorted in some meaningful way"
either ID number or alphabetic by name; ideally, this should be optional (click on column header) [MSp]

RFE from M.Spitaler

**Note**: This issue has been automatically migrated from Bitbucket
Created by @imunro on 2013-09-18 21:39:28+00:00

[2013-10-04 15:18] yalexand opened #58 "bitbucket #46: FLIMfit cannot load an IRF which is attached to an image as an annotation."

[2013-10-04 15:22] #58 closed, assigned to yalexand

[2013-10-25 15:13] dougkelly88 opened #61 "Spectral channels do not load from cuvette data"
When loading data (*.txt) collected on cuvette system, only the first spectral channel is loaded.

[2013-11-28 15:11] yalexand opened #62 "add option to choose modality when loading FLIM data from Omero SWP plates"
that is related to the possibility of importing Plates in a way when there might be several modalities per FOV (e.g. several FLIM channels)

[2013-11-28 16:40] yalexand opened #63 "exporting analysis results & FLIM maps for SPW plates - adding "modality" specifier to the newplate name"

[2013-11-28 16:43] #63 closed, assigned to nobody

[2013-11-28 16:47] #62 closed, assigned to yalexand

[2013-12-02 13:58] yalexand opened #64 "added functionality for loading Acceptor images from SWP Plates"
..that might be either the same Plate or different Plate - chooser is to be added
another chooser should be added to select Acceptor modality

[2013-12-02 14:00] #64 closed, assigned to yalexand

[2013-12-10 15:25] imunro opened #66 "OMERO.Insight displays channels as 0..n-1 FLIMfit as 1..n"
This could be confusing for the user when they see channel 1 in insight contains the data but then need to select channel 2 In FLIMfit

[2014-01-14 13:40] #61 closed, assigned to imunro

[2014-01-14 13:46] #55 closed, assigned to nobody

[2014-01-14 13:50] #57 closed, assigned to nobody

[2014-01-14 13:53] #46 closed, assigned to nobody

[2014-01-14 14:02] #54 closed, assigned to nobody

[2014-01-14 14:04] #45 closed, assigned to nobody

[2014-01-14 14:19] #50 closed, assigned to nobody

[2014-01-14 21:40] #48 closed, assigned to seanwarren

[2014-01-14 21:41] #43 closed, assigned to nobody

[2014-01-14 21:41] #24 closed, assigned to nobody

[2014-01-14 21:41] #5 closed, assigned to nobody

[2014-01-14 21:42] #56 closed, assigned to nobody

[2014-01-14 21:43] #42 closed, assigned to nobody

[2014-01-14 21:43] #41 closed, assigned to nobody

[2014-01-14 21:46] seanwarren opened #67 "Gate max for single point data"
Should be automatically set to greater than maximum point (rather than 2^16), as B&H can be set to accumulate until maximum

[2014-02-05 16:25] imunro opened #68 "Add ability to select a non-standard port for logging into OMERO"

[2014-02-17 20:19] #68 closed, assigned to imunro

[2014-02-26 15:31] yalexand opened #69 "channel metadata not displayed when multi-channel single-point decays loaded from Omero"
work: 1) in ic_importer - to organize storage of channels info in OME channels structure when imported to Omero and 2) retrieve this channels info when loaded form Omero into FLIMfit

[2014-02-26 15:39] #69 closed, assigned to yalexand

[2014-03-06 15:54] yalexand opened #70 "add support of PicoQuant FLIM files"
start form simple 1-channel case, treating "bin" file extension

[2014-03-10 15:23] imunro opened #71 "Improve performance of select-dataset"
Currently select_dataset sets param.leaves() Line 36. This significantly affects performance taking tens of seconds to generate a dataset list on some machines! & will cause FLIMFit to fail with users
with lots of data.

See https://trac.openmicroscopy.org.uk/ome/ticket/12047#

cc @sbesson @pwalczysko

[2014-03-10 17:39] imunro opened #72 "File->Export images.. seems to save only Monochrome!"
additionally the word 'raw' seems to be in the filenames.

cc @seanwarren

[2014-03-19 14:50] imunro opened #73 "ModuloAlong annotation in ome-tiffs is 'buried""
The following code was added to parse_modulo_annotation on the bf branch in order to drill down t the Modulo Annotation

% debug for downloaded ome-tiffs
        sa = tree.StructuredAnnotations
        XM = sa.XMLAnnotation
        AA = sa.ATTRIBUTE
        ATT = XM.ATTRIBUTE
        VAL = XM.Value
        MO = VAL.Modulo

[2014-03-25 12:51] yalexand opened #74 "transpose bin image on import - request form PicoQuant"

[2014-03-25 12:55] #74 closed, assigned to yalexand

[2014-03-28 09:05] #72 closed, assigned to imunro

[2014-03-28 16:05] imunro opened #75 "Unify approach for acceptor images across file & OMERO side."
Currently these seem to be completely different.

[2014-03-28 17:33] imunro opened #76 "Add an easy way to select block in an OMERO dataset."
Each block in a multi-block .sdt file appears in OMERO as a separate image.
If you have a dataset of multi-block images it would be good to have a way of selecting the  images originating only from say block 1 in select_dataset.

[2014-03-28 17:52] #71 closed, assigned to imunro

[2014-04-02 17:20] imunro opened #77 "Bizarre file warning on Windows 7"
During testing of the deployed code built remotely I'm getting the following warning "Warning: File not found or permission denied in film_data_series.clear_memory_mapping"

The file is in c:\Users\imunro\AppData\Local\Temp & both exists & can be deleted.

Confirmed on both Win7 & 2008R2 (server equivalent).

Unable to reproduce on a Mac & seems not to affect function so over to the experts.

cc @

[2014-04-02 20:50] #77 closed, assigned to seanwarren

[2014-04-25 13:23] joshmoore opened #79 "BUG: FLIMfit does not load data"
For the demo in Nottingham, Kenny prepared a Remote Desktop. This is a Windows 2008 machine. Onto this machine, the FlIMit (windows  version) from the downloads page,  was installed by @jburel. This was the windows version which was on the Partners OME-docs page as of 06th of Feb 2014.

During the workflow in Nottingham, I did following.
Workflow:
- logged into the Remote Desktop with my credentia

[2014-04-29 11:13] #76 closed, assigned to imunro

[2014-04-29 11:14] #79 closed, assigned to nobody

[2014-05-21 15:02] imunro opened #80 "FLIMfit segmentation parameter tooltip."
Hey, just one quick observation about FLIMfit and segmentation.
When hovering over the parameters, it says that the threshold should be between 0 and 1.
We established at the time that it can be anything above zero.
It would be worth correcting.

Cheers,

Romain

[2014-06-03 16:12] FLIMinator opened #81 "when loading a background image sometimes it does not load"

[2014-07-31 10:19] dougkelly88 opened #82 "Fit fails to complete"
Fitting pixelwise stalls when encountering a FOV in which all pixels are thresholded out. No error message returned. Also, doesn't appear to be in all cases in which images are completely thresholded out - in example attached, im_group 104 and 105 were thresholded out, but so was (for example) im_group 91.

In case where only row A is selected, pixelwise gets to 26%, corresponding to im_group ~106

[2014-07-31 10:22] dougkelly88 opened #83 "Feature request - FOV identifier on integrated intensity previews"
Because Java/Matlab resets the table scrollbar on the list of FOV when selections are changed using Select Multiple..., it's not always obvious (i.e. from table entry being highlighted) which FOV is currently being looked at.

May be solved by some sort of image ID (FOV/well?) overlaid on intensity preview, similar to   that used in gallery mode?

[2014-08-06 20:51] #70 closed, assigned to yalexand

[2014-08-06 20:52] #66 closed, assigned to imunro

[2014-08-06 20:53] #13 closed, assigned to nobody

[2014-08-06 20:54] #73 closed, assigned to imunro

[2014-08-11 14:32] imunro opened #84 "Intermittent "Painter's mode" warnings under Windows (on terminalfive)"
While testing Ff 4.7.0 Sometimes get:
"Warning: RGB color data not yet supported in painter's mode.
No other symptoms &  so far I have failed to reproduce reliably.

[2014-08-14 11:12] pwalczysko opened #85 "Forced graph rescale"
I have a following problem - when I try to drive to the menu in Win7 laptop, using trackpad, the scales on the decay display graph are getting rescaled as I pan around - whether I am on the graph or not, whether I click out of the graph or not - still rescaling - unnerving

[2014-08-14 11:15] pwalczysko opened #86 "Crash after Global fitting parameters wrong"
On Win7 laptop, on the 4.0.7 version, connected to octopus. The MEF dataset. Tried to do Global fitting with 2 exponentials. Set the `Global fitting` correctly to `Global` and `No. Exp` to `2`.
But had in `Fit Contributions` still `Fitted Locally`. Then tried to execute the fit. The fit did not go ahead, instead there we're errors in the terminal, which I failed to catch due to quirkiness of the W

[2014-08-14 12:21] pwalczysko opened #87 "Error during export of FLIM maps"
Win 7 laptop, 4.0.7 FLIMfit. Octopus, the plate. Created some fits and maps. then tried to use `OMERO > Expoprt FLIM maps`. The action showed a progress bar which went to the end, nevertheless, although a new Plate was created in OMERO, the maps were not in it.
Also, from the console output:

[code]

[2014-08-15 11:20] #87 closed, assigned to nobody

[2014-08-15 11:23] #85 closed, assigned to nobody

[2014-08-18 11:32] pwalczysko opened #88 "Error during resizing of window"
Reported by @bramalingam
![screen_shot_2014-08-12_at_14 21 16](https://cloud.githubusercontent.com/assets/2478303/3950763/4858e862-26cb-11e4-9b51-318ad7a143e4.png)

[2014-08-28 12:33] dougkelly88 opened #89 "TVB error under 4.7.0"
TVB fails to load, either from previously saved .csv or from series of images. Works ok under 4.6.2. Error log below.

Cell contents reference from a non-cell array object.

Error in flim_data_series/load_flim_cube (line 59)

Error in flim_data_series/load_tvb (line 70)

Error in front_end_menu_controller/menu_background_tvb_load_callback (line 808)

Error in front_end_menu_controller/set_callback

[2014-08-29 17:10] #89 closed, assigned to nobody

[2014-09-04 10:21] dougkelly88 opened #90 "MCR issue on installation"
MCR downloads OK during setup and is present on the system, but when attempting to start FLIMfit the following message is displayed:
![image](https://cloud.githubusercontent.com/assets/3948976/4147820/a5f4f944-341c-11e4-81b0-21abca3900b9.png)

This has occurred on work laptop (WIndows 7 x64, MATLAB 2013a installed) and home laptop (Windows 8.1, MATLAB 2014a installed). First noticed after download

[2014-09-06 15:16] dougkelly88 opened #91 "FLIMfit 4.7.1: undefined function or variable 'loadOmero'"
![image](https://cloud.githubusercontent.com/assets/3948976/4175525/84a4f70e-35d8-11e4-9658-7ab18f84d56e.png)

...having installed 4.7.1 on home machine. Didn't seem to be a problem when I tested it for the TVB loading issue on terminal 5. Any ideas?

[2014-09-08 13:42] pwalczysko opened #92 "Connect to OMERO.server dialog"
FLIMfit 4.7.1 on Windows 7  laptop.
When connecting to a server with a freshly downloaded FLIMfit (happens EACH time, but the first time the form is not pre-filled), then the first line of the dialog have
   - strange characters under ``Server`` text.
   - when Tab key is used to go to the next line of the form on the ``Server`` line, the cursor ends up on the 3rd line, thus jumping over the ``Por

[2014-09-19 09:31] #91 closed, assigned to nobody

[2014-09-23 11:22] dougkelly88 opened #93 "Resizing window panels error"
Neither of the two resizable panels function as expected - on button down, they are draggable, but there doesn't seem to be an action linked to button up so the operation isn't completed...

![image](https://cloud.githubusercontent.com/assets/3948976/4371168/a23ab1ee-4313-11e4-80a6-3506254c1f73.png)

![image](https://cloud.githubusercontent.com/assets/3948976/4371180/ceee4ce6-4313-11e4-8381-3cc526

[2014-09-24 07:54] dougkelly88 opened #94 "Lazy loading in 4.7.1"
Lazy loading doesn't work, fills up memory:

![image](https://cloud.githubusercontent.com/assets/3948976/4385099/f17c0972-43bf-11e4-9727-415b39382aa0.png)

[2014-09-24 07:55] dougkelly88 opened #95 "Loading widefield data in 4.7.2"
Doesn't load, error below

![image](https://cloud.githubusercontent.com/assets/3948976/4385113/195ada0e-43c0-11e4-9852-2231f1bb8b5d.png)

[2014-09-24 15:09] #95 closed, assigned to nobody

[2014-09-30 18:10] imunro opened #96 "FLIMfit cannot export images where there is a ."OME" string in the file name."
(Reported by Paul Thomas at UEA) Fixed just for this menu item  by commit 641c2d1. Should probably be handled by removing the .ome or .OME or .o from the residual file name when the extension is removed. Need to search for test that use .ome elsewhere in code though.

[2014-09-30 18:51] imunro opened #97 "Display problem with 3 monitors & Win7 Professional"
Reported by Lucien West( l.west12@imperial.ac.uk) .
Probably fixed by Sean's merge of  22/9/14 but would be good to confirm. with Lucien.

![capture](https://cloud.githubusercontent.com/assets/1183110/4464323/c64b4156-48d2-11e4-97cf-8b54b42acb27.JPG)

[2014-10-02 14:07] #88 closed, assigned to nobody

[2014-10-02 15:29] #86 closed, assigned to nobody

[2014-10-13 17:43] #96 closed, assigned to nobody

[2014-10-22 15:31] dougkelly88 opened #98 "Feature request - segmentation metadata"
It would be useful to save the parameters used to generate segmentation images, either in a standalone xml or in the header of the segmentation files?

[2014-10-27 11:41] imunro opened #99 "FLIMfit fails to parse ModuloAlong annotation if units == 'NS'"
Reported by Gary yelled.

[2014-10-27 11:44] #99 closed, assigned to nobody

[2014-10-27 11:45] #94 closed, assigned to nobody

[2014-10-27 11:47] imunro opened #100 "RFE Modify UI to handle SPW ome-tiffs."
Both as Files & via OMERO.

[2014-10-27 11:47] imunro opened #101 "Add Group Handling to OMERO side of UI."

[2014-10-27 11:49] #97 closed, assigned to nobody

[2014-10-27 11:51] imunro opened #102 "Float 'fitting results" images do not display correctly in OMERO 5.1."
The min & max are currently only set in the absence of Nan's.

[2014-10-28 15:40] imunro opened #103 "Change "Load TCSPC Dataset" to "Load FLIM dataset" on Polarized menu."
For consistency with 'File' menu only. Very Minor.

[2014-10-28 17:59] imunro opened #104 "Replace Deprecated "TCSPC" mode in call to polarised load_data_series."

[2014-10-28 18:04] #104 closed, assigned to nobody

[2014-10-28 18:04] #103 closed, assigned to nobody

[2014-10-31 15:17] imunro opened #105 "Add File->exit menu item on Windows"
As reported by @bpindelski

[2014-10-31 15:23] imunro opened #106 "Black band on export to powerpoint"
As reported by Romain

"Reporting a bug on FLIMfit 4.7.1 (used on Windows 7):
On gallery, export to current powerpoint shows a large black band instead on top of the image.
See attached saved as a picture from the ppt it was exported to.
Incidentally the MATLAB figure that opens when exporting to current powerpoint appears partially above screen (only bottom of image is visible) that seems to corr

[2014-11-07 12:28] imunro opened #107 "Change handling of multi-image files use 0..n-1 numbering"
Reported by G.Yellen.

[2014-11-07 12:30] #107 closed, assigned to nobody

[2014-11-07 15:50] imunro opened #108 "Failure of save_segmentation_OMERO in 4.7.x"
save_segmentation_OMERO  requires the image_ids to save the ROIs to OMERO.
These have not been saved in the class since the bio-formats changes of 4.7.0.
Reported by Gary Yellen.

[2014-11-10 11:16] dougkelly88 opened #109 "Acceptor image loading issue"
Acceptor images cannot be loaded, error below. Running on Windows Server 2012, FLIMfit 4.7.2 *and* 4.6.6.

Starting FLIMfit...
Error using Settings
Undefined function or variable 'matlab.internal.getSettingsRoot'.

Error in iptgetpref (line 22)

Error in medfilt2>hUseIPPL (line 176)

Error in medfilt2 (line 58)

Error in flim_data_series/load_acceptor_images (line 116)

Error in front_end_menu_con

[2014-11-10 12:12] dougkelly88 opened #110 "Error in segmentation prevents segmentation from continuing"
Two scale NTH fails on a particular FOV with error below:
Running on Windows Server 2012, FLIMfit 4.6.6 (also 4.7.2)

Starting FLIMfit...
Error using Settings
Undefined function or variable 'matlab.internal.getSettingsRoot'.

Error in iptgetpref (line 22)

Error in medfilt2>hUseIPPL (line 176)

Error in medfilt2 (line 58)

Error in flim_data_series/load_acceptor_images (line 116)

Error in front_e

[2014-11-21 13:51] imunro opened #111 "Failure in membrane segmentation."
Attempting a membrane segmentation on Windows7 with the latest compiled FLIMfit gave the following.
![screen shot 2014-11-21 at 13 49 11](https://cloud.githubusercontent.com/assets/1183110/5143221/847de8e2-7185-11e4-9901-3a5a67d84a3d.png)

[2014-11-21 13:53] #111 closed, assigned to nobody

[2014-11-28 10:24] imunro opened #112 "Segmentation & polygon button failure."
As reported by G.Chennell on Win7 Professional & Built version.

"I’m using flimfit 4.7.2 and have got a bug for you.
When segmenting multiple images using the polygon selection if the polygon button is depressed and I then switch to another image it is no longer possible to continue segmenting. The button will then not depress and no crosshairs will come up when hovering over the image for any of

[2014-12-23 10:20] imunro opened #113 "Libraries missing from Download page"
Libgomp etc should be on the download page so that FLIMfit can be run from source using the precompiled  .dylib of the back-end.

[2015-01-19 12:33] imunro opened #114 "Bio-formats does not handle compressed fifo data in .sdt files well."
Ideally contact B&H and find out how to uncompress then add functionality to bio-formats.
At a minimum add something in FLIMfit/bf to detect compressed fifo data and alert user to uncompress using SPCImage.

[2015-01-26 18:55] imunro commented on #109
Solved by move to 2014b or removal of .prj files. See https://github.com/openmicroscopy/Imperial-FLIMfit/commit/b93a5c8d0484fac90947721909ffe8e3e6abe9c4

[2015-01-26 18:55] #109 closed

[2015-01-27 17:45] FLIMinator opened #115 "FLIMfit crashes when using spatially varying IRF with global analysis. Note this is a full 3D data cube IRF."
------------------------------------------------------------------------
          Access violation detected at Tue Jan 27 17:35:37 2015
------------------------------------------------------------------------

Configuration:
  Crash Decoding     : Disabled
  Default Encoding   : windows-1252
  MATLAB Architecture: win64
  MATLAB Root        : C:\Program Files\MATLAB\MATLAB Compiler Runtime\v82

[2015-01-27 17:47] FLIMinator opened #116 "making an average background is not possible with an ome.tiff stack"

[2015-01-27 17:56] seanwarren commented on #115
What conditions does this occur under?

From: FLIMinator [mailto:notifications@github.com]
Sent: 27 January 2015 17:46
To: openmicroscopy/Imperial-FLIMfit
Subject: [Imperial-FLIMfit] FLIMfit crashes when using spatially varying IRF with global analysis (#115)

________________________________

      Access violation detected at Tue Jan 27 17:35:37 2015

________________________________

Configurat

[2015-01-27 20:48] imunro commented on #115
I'm assuming that this is with an ome-tiff. As both data and the irf ?

[2015-01-28 11:02] imunro commented on #116
Can I confirm? You want to be able to load a x,y,t cube then use the mean intensity at each pixel as a background.

[2015-01-28 12:51] imunro opened #117 "R-click and save-as error in 'New' 2014b build on OSX"
Gives the following:

Warning: Wrong type of argument: 'matlab.ui.Figure'.
[> In savefig at 218
  In abstract_display_controller>abstract_display_controller.save_as at 132
  In abstract_display_controller>@(~,~,~)obj.save_as() at 70
  In flim_fit_ui.flim_fit_ui>flim_fit_ui.flim_fit_ui at 202
  In FLIMfit at 34]

Now reproduced from Source.

[2015-02-01 16:44] FLIMinator commented on #115
Hi both, sorry for the 5 day delay. In case it helps, the crashing happens when I try and fit with a spatially varying IRF (not a shift map). This occurs for both tiff stacks and ome.tiffs. I havent checked sdt files. It appears to crash under any condition i.e. single, double, global, not global. There is test data in the email I sent you both a few days ago (tiff, ome.tiff, sdt).

[2015-02-01 16:53] FLIMinator opened #118 "when creating time varying background default offset is confusing when using ome.tiffs"
When I create a time varying background using ome.tiffs I first change the default background value of 200 to 0 and then click the create time varying background option.

When I load the tvb xml file into my data the tvb is offset by 200 points i.e. oversubtracted by  200.

To make a tvb work I have to instead set the defaul background value -200 before creating the tvb.

Perhaps I'm doing somethi

[2015-02-01 16:55] seanwarren commented on #118
Hi Hugh,

You should set the camera background to the correct level (not zero) when making a TVB map
Ideally you should load a camera background image

Cheers
Sean

From: FLIMinator [mailto:notifications@github.com]
Sent: 01 February 2015 16:54
To: openmicroscopy/Imperial-FLIMfit
Subject: [Imperial-FLIMfit] when creating time varying background default offset is confusing when using ome.tiffs (#11

[2015-02-01 21:17] #118 closed

[2015-02-02 10:05] imunro commented on #115
Sorry this is taking so long to fix. I need to get the builds sorted first (we just upgraded to a new Matlab version) before I can really look.

[2015-02-02 10:58] FLIMinator commented on #116
Yes, when I tried to do this I was assuming my background was constant with time i.e. camera read noise/dark current. I think it's important to be able to make an average image from an ome.tiff stack in the same way that you can load a folder of background images to average and smooth. At the time of trying to do this, when using the platereader acquisition software that outputs only ome.tiffs, I

[2015-02-02 10:59] seanwarren commented on #116
Yes I agree (although it’s a slightly separate issue)

From: FLIMinator [mailto:notifications@github.com]
Sent: 02 February 2015 10:58
To: openmicroscopy/Imperial-FLIMfit
Cc: Warren, Sean Christopher
Subject: Re: [Imperial-FLIMfit] making an average background is not possible with an ome.tiff stack (#116)

Yes, when I tried to do this I was assuming my background was constant with time i.e. camera

[2015-02-02 11:36] seanwarren commented on #115
Hi Hugh,

Do you have some test

[2015-02-02 11:59] imunro commented on #116
In that case, I will add this capability just as soon as I can.

[2015-02-02 13:15] FLIMinator opened #119 "correctly load ome.tiff metadata for multiwell plate datasets"

[2015-02-08 14:15] imunro commented on #116
This functionality added by commit c179a96.
One caveat. I have followed the functionality of the tif-stack equivalent i.e. averaging in time then median filtering the (double) result. My instinct would have been to median filter the uint16 planes and then average.  I'm assuming @seanwarren has looked at this.

[2015-02-09 08:50] seanwarren commented on #119
Fixed in commit 634fd0e

[2015-02-09 08:50] #119 closed

[2015-02-09 08:50] #115 closed

[2015-02-09 08:52] seanwarren commented on #82
Fixed in commit 3d1c1d0

[2015-02-09 08:52] #82 closed

[2015-02-09 11:49] imunro commented on #117
Solved by commit dc5390b (& others)

[2015-02-09 11:49] #117 closed

[2015-02-09 13:00] imunro commented on #49
Fixed as part of the 2014b graphics upgrades.

[2015-02-09 13:00] #49 closed

[2015-02-09 14:52] seanwarren commented on #116
Statistically it's better to average first and then apply the median filter, otherwise you lose information. Its also (much) quicker.

On 8 Feb 2015 14:15, imunro <notifications@github.com> wrote:

This functionality added by commit c179a96<https://github.com/openmicroscopy/Imperial-FLIMfit/commit/c179a9679b13a3ea7b926c597f51c2f7cd4e6d3a>.
One caveat. I have followed the functionality of the tif-s

[2015-02-09 15:53] imunro commented on #116
In that case - closing.

[2015-02-09 15:56] imunro opened #120 "Add "Time-averaged background from a time-resolved image" functionality to OMERO menu"
See https://github.com/openmicroscopy/Imperial-FLIMfit/issues/116# for file-side.

[2015-02-09 15:58] seanwarren commented on #120
Just for clarification the background image stacks aren’t time resolved as such – they’re just multiple repeats

From: imunro [mailto:notifications@github.com]
Sent: 09 February 2015 15:56
To: openmicroscopy/Imperial-FLIMfit
Subject: [Imperial-FLIMfit] Add "Time-averaged background from a time-resolved image" functionality to OMERO menu (#120)

See #116<https://github.com/openmicroscopy/Imperial-F

[2015-02-09 16:39] imunro commented on #120
Ah! If the time-resolved annotation is absent from the file then my code won't work. Depends what Doug has done when creating the files.

[2015-02-09 16:44] imunro commented on #116
@FLIMinator  Hugh do you have a test ome-tiff that I could look at?

[2015-02-09 23:43] FLIMinator commented on #116
Hi Ian,

Z:\User Lab Data\Ian Munro\Hugh ome.tiff background test

Regards,

Hugh

On Mon, Feb 9, 2015 at 4:44 PM, imunro <notifications@github.com> wrote:

[2015-02-10 10:23] imunro commented on #116
Thanks Hugh

Ian

On 9 Feb 2015, at 23:43, FLIMinator <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Ian,

Z:\User Lab Data\Ian Munro\Hugh ome.tiff background test

Regards,

Hugh

On Mon, Feb 9, 2015 at 4:44 PM, imunro <notifications@github.com<mailto:notifications@github.com>> wrote:

—
Reply to this email directly or view it on GitHub<https://github.com/openmicroscopy/Im

[2015-02-10 13:13] imunro commented on #116
Thanks Hugh. Assuming that the test files that you gave me are backgrounds then they do appear to be time-resolved 1600 - 11400ps so my code should hopefully be fine.

[2015-02-10 13:13] #116 closed

[2015-02-10 13:59] FLIMinator commented on #116
OK, you tried it and it worked?

Regards,

Hugh

On Tue, Feb 10, 2015 at 1:13 PM, imunro <notifications@github.com> wrote:

[2015-02-10 14:03] imunro commented on #116
Haven't had a chance yet. I  just checked that this was a standard FLIM 0me-tiff i.e. time-resolved like the ones I have tested with.

[2015-03-03 15:35] seanwarren opened #122 "IRF values are clamped to zero"
This is not valid for TCSPC data - should subtract and allow negative values

[2015-03-03 16:19] seanwarren opened #123 "Ouput variables can be mislabelled"
If offset/scatter/tvb is fitted globally alongside t0 or tau_ref, the output parameter labels may become mixed

[2015-03-03 16:22] seanwarren commented on #123
Fixed with commit b97692a9ee452042880e38b32a182c00efcc388d

[2015-03-03 16:22] #123 closed

[2015-03-03 18:42] elizabethnoble0714 opened #124 "t0 and offset labels swapped with each other"
The t0 and offset labels in the results parameters have been swapped with each other

[2015-03-03 21:09] imunro commented on #124
Sorry but I'm unsure where exactly this is occurring ?

[2015-03-04 09:04] seanwarren commented on #124
Duplicate of #123

[2015-03-04 09:04] #124 closed

[2015-03-04 15:25] elizabethnoble0714 opened #125 "loading 3X3 binning by mistake"
The software loads the smoothening to 3x3 binning by default, leading to errors while trying to fit single pixel data(different values for fit selected decay and fit dataset).

[2015-03-05 09:42] seanwarren commented on #125
We need to test for single pixel datasets when fitting single points

[2015-03-05 10:02] imunro commented on #125
Seems like we should set the binning to Off if the loaded image is small. Say < 9 in x or y ?

[2015-03-05 10:35] seanwarren commented on #125
Maybe better to have an exception for 1x1 images

On 5 Mar 2015, at 10:02, imunro <notifications@github.com<mailto:notifications@github.com>> wrote:

Seems like we should set the binning to Off if the loaded image is small. Say < 9 in x or y ?

—
Reply to this email directly or view it on GitHub<https://github.com/openmicroscopy/Imperial-FLIMfit/issues/125#issuecomment-77337119>.

[2015-03-05 11:55] imunro commented on #125
Ok an arbitrary threshold perhaps isn't a good idea but won't we then have the same issue for -say 2x2 images?

[2015-03-05 12:58] elizabethnoble0714 opened #126 "Defaultly loading only the first channel of multichannel single pixel data"
While trying to open a multiple channel TCSPC data for an emission scan, the latest updated software loads the first channel by default. In the previous versions the software detected the channels and there was an option to select, either load all the channels or just one from a  pop-up menu.

Could this be related to fixing the problem related to loading time-varying background?

[2015-03-05 13:01] imunro commented on #126
For multi-channel (or any multi-plane) data you should get a pop-up asking you to select a plane
If there is only one channel in the data this will not appear.

[2015-03-05 13:05] elizabethnoble0714 commented on #126
The latest update fails to do so

[2015-03-05 13:09] imunro commented on #126
Could you send me the file in question please.

[2015-03-05 13:14] elizabethnoble0714 commented on #126
Sure. Attaching it along

Regards,
Elizabeth

From: imunro <notifications@github.com<mailto:notifications@github.com>>
Reply-To: openmicroscopy/Imperial-FLIMfit <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, 5 March 2015 13:09
To: openmicroscopy/Imperial-FLIMfit <Imperial-FLIMfit@noreply.github.com<mailto:Imperial-FLIMfit@noreply.github.com>>
Cc: Elizabeth Noble <e.noble@i

[2015-03-05 14:10] seanwarren commented on #126
Fixed in commit 854c50ebc8a95513734722e011265231c8637a95

[2015-03-05 14:10] #126 closed

[2015-03-05 14:11] seanwarren commented on #126
This was related to a previous botched fix to load malformed cuvette data

[2015-03-06 21:56] imunro commented on #125
Addressed by above commit.

[2015-03-06 21:56] #125 closed

[2015-03-06 22:05] imunro commented on #120
Addressed by commit c2bd97

[2015-03-06 22:05] #120 closed

[2015-03-09 14:00] imunro opened #127 "Name of Fit results OMERO Dataset needs to be shorter"
As reported by @pwalczysko during pre-release testing of 4.8.0.

" - after "Export fitting results" the text in the popup "The analysis dataset..." is not very legible (or maybe it is just the name of the fitting dataset is too complicated to understand). Maybe in the wording it could be stated that here the Dataset is an OMERO Dataset, and that the analysis results have been attached to it as a r

[2015-03-09 14:04] imunro commented on #127
As a first step I have amended the description field of the new Dataset to read as follows:

![screen shot 2015-03-09 at 14 02 19](https://cloud.githubusercontent.com/assets/1183110/6556379/099f3592-c665-11e4-9b9c-6add05a6ba0a.png)
 @yalexand Do you think it would now be ok to omit the date/time form the Dataset name ?

[2015-03-09 14:40] imunro commented on #92
Addressed Tab order issue in Commit 2d033e3. Unable to reproduce the other issues
@pwalczysko  Does it help or hinder you if I rebuild with this change for 4.8.0 ?

[2015-03-09 14:46] pwalczysko commented on #92
@imunro : Please rebuild now.
I do not think that the strange character issue is valid anymore, thanks for fixing the tab.

[2015-03-09 15:12] imunro commented on #51
@seanwarren  Is this still an issue?

[2015-03-09 15:17] imunro commented on #106
As part of the changes to make FLIMfit run on 2014b to be released as version 4.8.0  the .ppt menu items have been (temporarily ??) removed. Which renders this bug moot.

[2015-03-09 15:17] #106 closed

[2015-03-09 16:14] imunro commented on #122
I'm struggling a bit with the code here @seanwarren .   You seem to use a variable called clamp to set any points outside the range t_ irf_min .. t_irf_max to 0 on line 105  of https://github.com/openmicroscopy/Imperial-FLIMfit/blob/master/FLIMfitFrontEnd/Classes/%40flim_data_series/compute_tr_irf.m  then also explicitly set laments < 0 to 0 on the preceding line.

[2015-03-09 17:02] imunro commented on #92
Apparently the strange characters are still an issue.

[2015-03-09 17:03] yalexand commented on #127
can do certainly, - if there are multiple analyses, they will look exactly the same in Insight etc. it was the only reason I attached it there, to distinguish between consequtive analyses

[2015-03-09 17:07] imunro commented on #127
Hmmm makes sense.

[2015-03-09 22:04] seanwarren commented on #122
The 'clamp' is still ok - that sets cropped out parts of the IRF to the background value (zero with no afterpulsing, the background value otherwise). It's the setting negative values to zero that is problematic. However if we just remove that then some reference IRFs etc for time gated data will have problems.

We need to think about this one a little bit - maybe expose an option for removing nega

[2015-03-09 22:04] #51 closed

[2015-03-12 14:59] imunro commented on #92
Finally resolved by https://github.com/openmicroscopy/Imperial-FLIMfit/commit/7ae94157094a298a10f71cea7375da5a6f6c718f

[2015-03-12 14:59] #92 closed

[2015-03-30 15:54] imunro commented on #80
Fixed by above commit.

[2015-03-30 15:54] #80 closed

[2015-03-30 17:00] imunro commented on #108
Fixed back in Nov 2014.

[2015-03-30 17:00] #108 closed

[2015-04-08 09:24] FLIMinator opened #129 "SV IRF not working"
SV IRF does not seem to work in the newest version, 4.8.
SV IRF does not work in previous versions.

[2015-04-08 09:25] FLIMinator opened #130 "Terminalsix issue with thread number"
For a single image, 2x2 binning ORCA, finely sampled dye. The fitting only completes if 19 threads are selected instead of the 20 that are available.

[2015-04-08 11:01] seanwarren commented on #129
More information please hugh ☺
Cheers
Sean

From: FLIMinator [mailto:notifications@github.com]
Sent: 08 April 2015 19:24
To: openmicroscopy/Imperial-FLIMfit
Subject: [Imperial-FLIMfit] SV IRF not working (#129)

SV IRF does not seem to work in the newest version, 4.8.
SV IRF does not work in previous versions.

—
Reply to this email directly or view it on GitHub<https://github.com/openmicroscopy/I

[2015-04-08 20:03] FLIMinator opened #131 "Loaded plate data and used nth segmentation."
Pressed fit data and then tried to cancel process and the software hangs

![image](https://cloud.githubusercontent.com/assets/7783135/7054167/9fec4352-de32-11e4-9778-6fccc5b6adb5.png)

[2015-04-10 16:08] FLIMinator commented on #131
This error  happens when we do segmentation across 200+ fields of view using 'nth segmentation' method. The fitting completes and then hangs when the progress bar says 'processing results'.

Have tvb map,irf shift map, camera offset image loaded into software also.

Performing global analysis, triple fit, grouped
![segmantation_error_flimfit4 8 0](https://cloud.githubusercontent.com/assets/7783135

[2015-04-10 16:34] FLIMinator commented on #129
Hey Sean,

Using 4.8, using an ome.tif file format, using 1 field of view loaded, load a scatter irf ome.tiff. The IRF size is quite large, 2x2 binning and 100s of images. I use load spatially varying IRF option on file tab. See below for example profile of IRF in ss.

also see below example of errors.  Errors depend on what was loaded at same time e.g. tvb and dc offset image and if data was thre

[2015-04-10 20:17] imunro commented on #129
I can look at this when I get back on Tue.
________________________________________
From: FLIMinator [notifications@github.com]
Sent: Friday, April 10, 2015 5:34 PM
To: openmicroscopy/Imperial-FLIMfit
Subject: Re: [Imperial-FLIMfit] SV IRF not working (#129)

Hey Sean,

Using 4.8, using an ome.tif file format, using 1 field of view loaded, load a scatter irf ome.tiff. The IRF size is quite large,

[2015-04-14 19:48] imunro opened #132 "V4.8 fails to load single channel .csv files as irf."
As reported by Jorge Palma Chavez.

"I hope you are doing very well. I am wondering if you changed the input format of the IRF in the latest FLIMfit version(4.8), since the '.csv' file is not working any more.

Thanks and best regards,

Jorge"

[2015-04-14 19:53] imunro commented on #132
Fixed by above commit.

[2015-04-14 19:53] #132 closed

[2015-04-15 17:19] imunro commented on #129
I've just been trying and failing to replicate the issue reported where FLIMfit fails to load the SV irf.
I seem to be able to load Hugh's irf  image without problem (on a mac)  and the displayed irf does seem to change slightly as I click around the image - which looks promising.
OTOH changing the Mode from 'Integrated Intensity' to 'SV irf" displays a white square! - did this ever work @seanwarr

[2015-04-16 17:19] Fredxxx opened #133 "platemap metadata"
By loading metadata via an excel file it is not really working or a manual how to use it would be nice.

[2015-04-16 17:49] imunro commented on #133
What metadata are you trying to load & do you have some example data plea ?

[2015-04-17 11:03] imunro commented on #131
Hi Hugh. Could you let me have a copy of the data & irf that you were using when this happened please.

[2015-04-17 13:05] FLIMinator commented on #131
Hey Ian,

Here is plate data with cells you can segment.

Z:\User Lab Data\Ian Munro\Hughs segmentation testing folder

[2015-04-17 13:29] imunro commented on #131
Thanks.

[2015-04-17 16:15] imunro commented on #131
@swarren I don't think this is the problem here but Hugh's screen shot shows a a problem with getPixelPosition and I think there are 2 old copies of the  GUIILayout stuff at https://github.com/openmicroscopy/Imperial-FLIMfit/tree/master/FLIMfitFrontEnd/HelperFunctions/GUILayout  and https://github.com/openmicroscopy/Imperial-FLIMfit/tree/master/FLIMfitFrontEnd/HelperFunctions/GUILayout-v1p17  Do y

[2015-04-18 08:40] seanwarren commented on #131
Nope let's clean those up

On 18 Apr 2015 02:15, imunro <notifications@github.com> wrote:

@swarren<https://github.com/swarren> I don't think this is the problem here but Hugh's screen shot shows a a problem with getPixelPosition and I think there are 2 old copies of the GUIILayout stuff at https://github.com/openmicroscopy/Imperial-FLIMfit/tree/master/FLIMfitFrontEnd/HelperFunctions/GUILayout and

[2015-04-18 11:54] imunro commented on #131
Cool! Will do.

Ian

On 18 Apr 2015, at 09:40, Sean Warren <notifications@github.com<mailto:notifications@github.com>> wrote:

Nope let's clean those up

On 18 Apr 2015 02:15, imunro <notifications@github.com<mailto:notifications@github.com>> wrote:

@swarren<https://github.com/swarren> I don't think this is the problem here but Hugh's screen shot shows a a problem with getPixelPosition and I thin

[2015-04-24 09:56] imunro opened #134 "Change approach to writing data into OMERO."
All such items should be changed to use the file-side code to create the files and then import rather than separate code for OMERO-side and file-side.

[2015-04-26 13:13] imunro opened #135 "Pixel by Pixel fitting on terminalsix prohibitively slow."
As reported by A.Margineanu.  Processing the data following the steps below - is prohibitively slow.
The progress bar reached 4% after 2 hours before I gave up (running from Source in Matlab) although processing was continuing without errors.

NB Attempting this on my (Mac) laptop it appeared to reach 36% in around 30 mins before hanging but this has yet to be confirmed using exactly the described

[2015-04-26 13:27] FLIMinator opened #136 "Cannot seem to load single trace IRF in 4.8"
I have a typical IRF trace, column 1 has time, column 2 has intensity. It works with version 4.7 and earlier versions.

![image](https://cloud.githubusercontent.com/assets/7783135/7337405/68987dd4-ec20-11e4-8859-abec916c2188.png)

[2015-04-26 21:43] imunro commented on #136
If this is a .csv file then a fix is already in place for 4.8..1 ?

[2015-04-26 21:46] imunro commented on #135
I just repeated the same set of steps with the same data (from Matlab) on my laptop without problem in about 80 mins. Not sure what this tells me as the .dll equivalent might be well out of data & I'm equally unsure which .dll is being used on terminal six. I'll check tomorrow.

[2015-04-27 00:50] seanwarren commented on #135
Is the library compiled using Debug on the source version on T6?

From: imunro [mailto:notifications@github.com]
Sent: 27 April 2015 07:47
To: openmicroscopy/Imperial-FLIMfit
Subject: Re: [Imperial-FLIMfit] Pixel by Pixel fitting on terminalsix prohibitively slow. (#135)

I just repeated the same set of steps with the same data (from Matlab) on my laptop without problem in about 80 mins. Not sure

[2015-04-27 08:28] imunro commented on #135
Good question. I have realised that I have no idea what .dll is being used from matlab as I cloned the repo but didn't build the .cpp. Would it just pick up the installed one? I hope not as there are now 3 FLIMfit's on t6.  I'll have a look shortly.

[2015-04-27 08:30] seanwarren commented on #135
No it won’t pick up the installed one – there is a dll in the repo which should be up to date but may well (probably will) be a debug version

From: imunro [mailto:notifications@github.com]
Sent: 27 April 2015 18:28
To: openmicroscopy/Imperial-FLIMfit
Cc: Warren, Sean Christopher
Subject: Re: [Imperial-FLIMfit] Pixel by Pixel fitting on terminalsix prohibitively slow. (#135)

Good question. I have

[2015-04-27 08:34] imunro commented on #135
I'll try with the built version again then as soon as I get to the office.

[2015-04-27 08:47] FLIMinator commented on #136
Yes is it a csv file. Does it work if it is another format?

On Sun, Apr 26, 2015 at 10:43 PM, imunro <notifications@github.com> wrote:

[2015-04-27 08:51] imunro commented on #136
As far as I know it should. I'm hoping to get a 4.8.1 out with this fix in fairly quickly as it's a bit embarrassing.

[2015-04-27 10:46] imunro commented on #135
Trying exactly the same sequence of commands on t6 with the installed 4.8.0 build (i.e. MCR) gives the following error when switching Background to to 'TV Image' after loading.  Going to try now from Matlab with the .dll from the build.

[2015-04-27 10:56] FLIMinator opened #137 "Out of computer memory?"
I load a finely sampled dye measurement which is a large 40 Mb ome.tiff.ome image and load an irf shift map and 4.8/terminalsix cannot fit the data apparently because of memory issues.

![image](https://cloud.githubusercontent.com/assets/7783135/7346242/3a8dc246-ecd4-11e4-8ed3-c7c53040aa90.png)

[2015-04-27 11:27] imunro commented on #135
Running from Matlab Source on t6 with the build version of the .dll I achieved a successful fit in ~15 mins.  Bug appears to be definitely in the matlab front end. So closing this issue and opening a new one

[2015-04-27 11:27] #135 closed

[2015-04-27 11:29] FLIMinator commented on #137
Works with another computer. Must be something wrong with terminalsix. Has memory management be changed in the last few days for terminalsix??

[2015-04-27 11:42] FLIMinator commented on #137
I have re-opened this issue because we (Ian and I) cannot figure out why there is a memory issue?

Could the cause of this issue be cropping up elsewhere also.

[2015-04-27 11:47] imunro opened #138 "tvb switching issue in 4.8.0 on t6 (see https://github.com/openmicroscopy/Imperial-FLIMfit/issues/135)"
Using the steps and data described in https://github.com/openmicroscopy/Imperial-FLIMfit/issues/135  we see the error below on switching Background to 'TV Image'

Seems likely that I have x/y transposed when loading a tvb background but I need to find why this manifests only in the build not the current Matlab source.

![screen shot 2015-04-27 at 11 42 36](https://cloud.githubusercontent.com/asset

[2015-04-27 13:21] imunro commented on #138
I've been debugging https://github.com/openmicroscopy/Imperial-FLIMfit/blob/master/FLIMfitFrontEnd/Classes/%40flim_data_series/flim_data_series.m line 578
bg = bg .* obj.tvb_profile + obj.background_value;

 and I find the following: size(bg) (after reshape) == 1,1,512,672  size(obj.tvb_profile) == 6,1
IIRC a lot of maths depends on versions of * which handle different size arrays.
If this is no l

[2015-04-27 22:48] seanwarren commented on #138
Yes, you need to call genmakeops. Also need to make sure that the compiled mex files are included in the compiled version.

[2015-04-28 08:40] imunro commented on #138
If I'm right then including in the deployed version was the problem. Just trying to check that now. Don't suppose you know how to include paths with spaces in mcc ?

[2015-04-28 09:04] seanwarren commented on #138
Not off the top of my head – might be easier to remove the space in the path!

From: imunro [mailto:notifications@github.com]
Sent: 28 April 2015 18:40
To: openmicroscopy/Imperial-FLIMfit
Cc: Warren, Sean Christopher
Subject: Re: [Imperial-FLIMfit] tvb switching issue in 4.8.0 on t6 (see https://github.com/openmicroscopy/Imperial-FLIMfit/issues/135) (#138)

If I'm right then including in the deplo

[2015-04-28 09:09] imunro commented on #138
Thanks. That's Plan B :-)

[2015-04-28 09:59] imunro commented on #138
I've added  -a HelperFunctions/doubleops_PCWIN64/@double/*  to the mcc command in compile.m  but I'm still getting the same problem. However, It tests if genops is working in add path_globalanalysis & if it isn't tries to build it locally so I'm guessing this doesn't work either. Just trying to debug that now but any thoughts welcome.

[2015-04-28 10:26] imunro commented on #138
Ok so addpath_global...  isn't called in the deployed code. Do you think it's possible that genops isn;t switched on ?? Seems to be switched on by calling genops(1)

[2015-04-28 13:45] imunro commented on #138
I have now confirmed that genops isn't working in the deployed versions. I've  tried several different ways to include HelperFunctions/doublops_PCWIN64 in the deployed package but none seem to work.
Any thoughts @seanwarren I'm running out of ideas.

[2015-04-29 10:04] imunro commented on #138
You're clearly away or busy but just to keep you up to date .. As this seems to be an issue with either mcc or it's documentation I've dropped this on the Matlab help desk for now.
I do have an alternative soln though. See http://www.lce.hut.fi/~ave/code/genopsm/  for  (more recent) .m implementations of the genops functions. Depending on how many places in the code you depend on the extra genops

[2015-04-29 10:24] seanwarren commented on #138
Hi Ian, OK sounds good - I don't think there are many places that depend on it, and where it does we can probably use bsxfcn or this version instead. However we should have a check through the code to see where is calling genops first - I'm afraid I'm not sure of the top of my head.

[2015-04-29 11:22] imunro commented on #138
Hi Sean That's the  tricky bit I think because genops overloads the '.*' operator among others I don't really know how to spot where the standard matlab operators don't give the answer that you are expecting.

[2015-04-29 11:41] seanwarren commented on #138
Hi Ian, I suggest that we modify the genops code so that it throws an error with mexErrMsgTxt when called. If we run through some standard workflows we should hit on any code that relies on genops pretty quickly. I'll make a commit like this now, are you ok to test it later today?

[2015-04-29 11:47] imunro commented on #138
Sure. Can do

Watch out though I left some debug statements lying about in the last couple of commits.
Won’t your message get called on every call to .* though? Or does genops only get called if the inputs are invalid ?

Ian

On 29 Apr 2015, at 12:41, Sean Warren <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Ian, I suggest that we modify the genops code so that it throws a

[2015-04-29 12:11] seanwarren commented on #138
We'll find out :) I'll give it a test tomorrow Oz time as well, we might need to only throw that error in certain cases

On 29 Apr 2015 21:47, imunro <notifications@github.com> wrote:
Sure. Can do

Watch out though I left some debug statements lying about in the last couple of commits.
Won’t your message get called on every call to .* though? Or does genops only get called if the inputs are invali

[2015-04-29 14:19] imunro commented on #138
I have shifted your debug line to what looks like the right place to show only when the built-in functions aren't called (fingers crossed) This does throw an error at the line where we already know there is a problem in the deployed version so it look promising.

[2015-04-29 20:28] imunro commented on #136
Closing this one as AFAIK it's fixed for the next release.

[2015-04-29 20:28] #136 closed

[2015-04-30 14:51] #138 closed

[2015-05-01 11:25] FLIMinator opened #139 "Sub sampling data"
Hi Ian!

Fred & I are wondering whether the data sub sampling option works?

We were using it an it did work for subsampling of 2. It seems to fail when we first try sub sampling other than 2 i.e. 3 or 4. Perhaps variabless are being updated correclty. It can fit always correctly when we select fit single decay but does not work for fitting all of data. No errors are given in the command line.

To

[2015-05-01 12:48] imunro commented on #139
I'll have a look. Could be another symptom of the Anca/genops bug.

[2015-05-01 13:17] imunro commented on #139
Tried this and it seemed to work on my mac from Matlab, (in that the no of points went down as the subsampling went up.)  No genops errors were thrown so if  there is a bug in the deployed code on  t6 at least we know it's not that one.

[2015-05-01 15:35] imunro commented on #129
I've attempted to add some code to display the SV IRF when that mode is selected.
Which seems to work for loading a non-xml sv irf.
I'm displaying the member  data_series.image_irf
When I load  the file  "sv irf map.xml" from Hugh's test data as a sv irf this field remains empty as does the display.
Looking at the .xml in this file I see t_irf, irf and t0_image.   So I see 2 possibilities either I

[2015-05-01 23:09] seanwarren commented on #129
That's a sv IRF

On 2 May 2015 01:35, imunro <notifications@github.com> wrote:

I've attempted to add some code to display the SV IRF when that mode is selected.
Which seems to work for loading a non-xml sv irf.
I'm displaying the member data_series.image_irf
When I load the file "sv irf map.xml" from Hugh's test data as a sv irf this field remains empty as does the display.
Looking at the .xml in

[2015-05-01 23:11] seanwarren commented on #139
This works in the front end but as far as i remember not in the back end. It was only ever for some testing I was doing, what do you guys need it for Hugh?

On 1 May 2015 23:17, imunro <notifications@github.com> wrote:

Tried this and it seemed to work on my mac from Matlab, (in that the no of points went down as the subsampling went up.) No genops errors were thrown so if there is a bug in the de

[2015-05-02 08:44] imunro commented on #129
So loading a dv irf should set the t0 image ?

[2015-05-02 09:11] seanwarren commented on #129
If it is a XML file containing a single IRF and a shift map then yes.
If (less commonly, but sometimes used by Hugh) it’s a full spatially varying IRF (i.e. a full decay for each pixel) then no

From: imunro [mailto:notifications@github.com]
Sent: 02 May 2015 18:44
To: openmicroscopy/Imperial-FLIMfit
Cc: Warren, Sean Christopher
Subject: Re: [Imperial-FLIMfit] SV IRF not working (#129)

So loading

[2015-05-02 18:05] FLIMinator commented on #139
Hi Sean,

Perhaps this is not a critical issse. Fred collected some data the other
day. We oversampled the data and wanted to sub sample it in FLIMfit to see
how fitted results changed when changing the fit window cropping and/or sub
sampling to in effect simulate using different acquisition strategies.

Regards,

Hugh

On Sat, May 2, 2015 at 12:11 AM, Sean Warren <notifications@github.com>
wrote:

[2015-05-02 18:12] FLIMinator commented on #129
Hi Ian,

I'm discussing the load spatially varying irf option in FLIMfit. This does
not involved the XML file containing a single IRF. Instead it requires the
IRF measurement i.e. all the whole IRF stack of images.

Cheers,

Hugh

On Sat, May 2, 2015 at 10:11 AM, Sean Warren <notifications@github.com>
wrote:

[2015-05-02 18:14] FLIMinator commented on #131
Hi Ian,

Has this issue be resolved in version 4.8.1?

[2015-05-03 02:25] seanwarren commented on #131
This should be fixed now

On 3 May 2015 04:14, FLIMinator <notifications@github.com> wrote:

Hi Ian,

Has this issue be resolved in version 4.8.1?

—
Reply to this email directly or view it on GitHub<https://github.com/openmicroscopy/Imperial-FLIMfit/issues/131#issuecomment-98383792>.

[2015-05-05 09:10] imunro commented on #129
Ok got it now.I think Do I have an example of the data for which this is failing ?
I strongly suspect this was another symptom of the genops/Anca bug but it would be nice to check.

[2015-05-05 11:43] imunro commented on #129
I've tried loading one ome-tiff from fogim_datastore/User Lab Data/Ian Munro/Hughs segmentation testing folder/Sequenced FLIM acquisition 2015-03-19_16.36.09 as data and then a second as a SV_irf.
You can now see the sv-irf by changing the display mode(which is good)  but I still can't find any problems. Maybe this was actually a different issue ?

[2015-05-05 11:45] seanwarren commented on #129
Hi Ian, you also need to explicitly tell it to use the SV IRF in the advanced fitting options tab.

[2015-05-05 12:49] imunro commented on #129
Thanks Sean but I wouldn't expect a successful fit using a randomly chased  FOV as an IRF so I don't think I can  test more than that the sv irf is loaded until I get valid data.

[2015-05-05 14:47] FLIMinator commented on #129
Hi Ian, 

Just load the dye plate data I gave you or use any of the data I gave you.

Cheers, 

Hugh

Sent from Samsung Mobile

-------- Original message --------
From: imunro <notifications@github.com>
Date: 05/05/2015  13:49  (GMT+00:00)
To: openmicroscopy/Imperial-FLIMfit <Imperial-FLIMfit@noreply.github.com>
Cc: FLIMinator <hughsparks@gmail.com>
Subject: Re: [Imperial-FLIMfit] SV IRF not worki

[2015-05-05 15:28] imunro commented on #129
ok Hugh. I've loaded the data from /fogim_datastore/User Lab Data/Ian Munro/2015 platereader data/plate/Unknown , loaded the file  /fogim_datastore/User Lab Data/Ian Munro/2015 platereader data/scatter irf/2015-02-03_10.16.48_FLIMSnap.ome.tiff as a SV IRF, set the Integrated min to 800 and fit a double both globally and pix-by-pix all on t6 and all without problem. Can we call this fixed ?

[2015-05-05 15:34] imunro commented on #129
Hang on! One more thing I forgot to test?

[2015-05-05 15:42] imunro commented on #129
Still no problems apart from the usual windows "Warning:File not found"
Can I close this one?

[2015-05-05 16:36] FLIMinator commented on #129
Thanks Ian sounds like its working!

I presume code had to be changed and it didn't just start working?

Best,

Hugh

Sent from Samsung Mobile

-------- Original message --------
From: imunro <notifications@github.com>
Date: 05/05/2015  16:42  (GMT+00:00)
To: openmicroscopy/Imperial-FLIMfit <Imperial-FLIMfit@noreply.github.com>
Cc: FLIMinator <hughsparks@gmail.com>
Subject: Re: [Imperial-FLIMfit]

[2015-05-05 17:47] imunro commented on #129
Hi Hugh. It's likely that it was fixed when we fixed the Anca/genops bug ( that's certainly what the error message above looks like) but I've never  been able to work out how to make it go wrong - your description says "Errors depend on what was loaded at same time e.g. tvb and dc offset image and if data was thresholded." and I wasn't sure what data you were using.

[2015-05-05 17:47] #129 closed

[2015-05-05 18:51] FLIMinator commented on #129
Thanks Ian!

On Tue, May 5, 2015 at 6:47 PM, imunro <notifications@github.com> wrote:

[2015-05-08 13:49] imunro commented on #137
Possibly a side-defect of the genops bug ??? Going to close for now please re-open if it happens with 4.8.1 (Release version)

[2015-05-08 13:49] #137 closed

[2015-05-08 13:50] imunro commented on #131
I'm going to assume Sean's correct and close.

[2015-05-08 13:50] #131 closed

[2015-05-08 13:50] imunro commented on #130
Guessing this is another genops side-effect & closing.

[2015-05-08 13:50] #130 closed

[2015-05-08 13:52] imunro commented on #81
Seems to be an old (4.7.0) issue so closing.

[2015-05-08 13:52] #81 closed

[2015-05-08 13:57] imunro commented on #100
Done! Menu options commented out in 4.8.1 pending a management decision.

[2015-05-08 13:57] #100 closed

[2015-05-08 13:59] imunro commented on #90
This seems to have gone with Doug so closing.

[2015-05-08 14:00] imunro commented on #31
All the .ppt options were lost during the Matlab 2014b conversion so no longer applicable after 4.8

[2015-05-08 14:00] #31 closed

[2015-05-12 09:38] imunro commented on #90
Re-opened as Romain seems to be having similar issues.

[2015-05-27 14:07] FLIMinator opened #140 "Need certain fittable variables to be disabled when certain fitting methods are not compatible with that option i.e. fitting with a spatially varying instrument response function and fitting an offset to the instrument response function in each pixel"

[2015-05-27 17:49] imunro opened #141 "Problem distinguishing .tifs from a stack!"
If there is a .tif (say background) in the same .dir as a .tiff stack then it will be loaded as part of the .tif stack!! It looks as if this has always been the behaviour so no intention to fix.

Mainly reported as a warning not to put other .tifs in with stacks!!

[2015-05-28 12:29] yalexand opened #142 "Global fitting fails when empty "images" present"
That was discovered for the case of reconstructed OPT-FLIM data loaded from XYZ+lifetime OME.tiff.

The commit [6 Feb 2015 17:36 3d1c1d0] fixes that for the case of pixelwise fitting, but Global just hangs.
If one excludes these empty planes from the input data either on loading, or on sending to dll, - Global works normally.

[2015-05-28 12:35] imunro commented on #142
I fear this one's for you @seanwarren

[2015-05-28 14:01] imunro commented on #142
I’m going to remove his mornings Nan Inf debug now as it wasn’t that.

Ian

On 28 May 2015, at 13:29, yalexand <notifications@github.com<mailto:notifications@github.com>> wrote:

That was discovered for the case of reconstructed OPT-FLIM data loaded from XYZ+lifetime OME.tiff.

The commit [6 Feb 2015 17:36 3d1c1d0<https://github.com/openmicroscopy/Imperial-FLIMfit/commit/3d1c1d0de96c61999e69ac6bf5

[2015-06-15 12:54] sguldbra opened #143 "Problems with exporting images"
Hi. I want to report a bug: When I try to export an image, the resolution is _very_ poor and the fontsize of the numbers on the scale bar are almost bigger than the image itself.

[2015-06-18 09:31] imunro opened #144 "Subfolder display in File->Load FLIM Dataset"
From Natalie
"I’ve just noticed, when working with TCSPC data you have to load through the Ctrl+T option, but this way doesn’t read all the files in subfolders, whereas .tif datasets does. Can this be added? "

[2015-06-26 15:46] imunro commented on #143
@sguldbra I'm struggling to reproduce this. Do you have some data I could try with?

[2015-06-29 16:04] imunro opened #146 ""Scrambled" names in plotter tab."
When there are a significant number of points in the plotter tab even truncated names become illegible.
No obvious solution springs to mind.
![screen_shot_2015-06-29_at_14 32 38](https://cloud.githubusercontent.com/assets/1183110/8412302/ddfc2c5a-1e80-11e5-876d-9ccb5703f989.png)

[2015-06-29 16:15] imunro commented on #146
I have realised that the user can address this by making the plotter tab window larger so it  perhaps  we can file under "feature that could be improved" rather than a bug.

[2015-06-30 09:22] imunro commented on #142
Fixed AFAIK in 4.9.0  @seanwarren ?

[2015-06-30 09:22] #142 closed

[2015-06-30 09:22] imunro commented on #142
Fixed AFAIK in 4.9.0

[2015-06-30 09:23] imunro commented on #134
Finished in 4.9.0.

[2015-06-30 09:23] #134 closed

[2015-06-30 09:25] imunro commented on #127
As of 4.9.0 the user now has control of where fitting results are placed.

[2015-06-30 09:25] #127 closed

[2015-06-30 09:28] imunro commented on #102
These images are now (as of 4.9.0) imported from a file rather than written directly into OMERO so hopefully addressed @jburel

[2015-06-30 09:28] #102 closed

[2015-07-08 14:07] gchennell opened #147 "colour coding of region correlation plot"
![regions plot correlationw_mean_tau](https://cloud.githubusercontent.com/assets/7990390/8572176/cd7c1468-2582-11e5-8e38-0132e81c8e21.jpeg)
was hoping to plot this type of data based on column (or an uploaded metadata like compound concentration) to see if there is trend observable.

Gives me an error
![error](https://cloud.githubusercontent.com/assets/7990390/8572202/06ba2328-2583-11e5-913a-eafcb

[2015-07-08 14:08] gchennell commented on #147
when you choose a colour parameter from the drop down lost it doesn't do it and there is no data shown.

Am I just missing something?

[2015-07-10 13:29] imunro commented on #147
I'm afraid I'm away at the moment and can't help. I'll investigate as soon as I get back. In the meantime have you tried the  "plotter" tab ¿

[2015-07-17 10:45] yalexand opened #148 "segmentation improvement: to add filtering segmented objects by shape factor"
in well plates, round cells are physiologically different & show different lifetimes, so it is better to have control

[2015-07-17 10:56] imunro commented on #148
I thought you just fixed this ?

[2015-07-17 10:59] yalexand commented on #148
It was next request from George Chennell, to have both min and max thresholds on shape factor.
Added just now.

Cheers,
Y.

From: imunro [mailto:notifications@github.com]
Sent: 17 July 2015 11:57
To: openmicroscopy/Imperial-FLIMfit
Cc: Alexandrov, Yuriy
Subject: Re: [Imperial-FLIMfit] segmentation improvement: to add filtering segmented objects by shape factor (#148)

I thought you just fixed this

[2015-07-19 17:48] imunro commented on #93
They both appear to work until you load some data then drag zoom seems to interfere.

[2015-07-21 18:59] imunro commented on #113
Having failed again to make Cmake statically link a gcc_libs.zip has now been added to all the mac builds.

[2015-07-21 18:59] #113 closed

[2015-07-22 14:12] WenjunGuo2015 opened #149 "Cannot export time-varying background values to .csv file when IRF is loaded"

[2015-07-22 14:38] sguldbra opened #150 "Crashing"
Flimfit is crashing when I load an image and select "Fit Dataset". Tried twice, each time with the same error message.

![screenshot_flimfiterror1](https://cloud.githubusercontent.com/assets/12895404/8827983/af95ac38-3087-11e5-96a7-f5fbd215d270.jpg)
![screenshot_flimfiterror2](https://cloud.githubusercontent.com/assets/12895404/8827982/af8db2b2-3087-11e5-8fd6-400b270d9d95.jpg)

[2015-07-22 14:50] imunro commented on #150
If you could make that window bigger that would really help.

[2015-07-22 15:44] sguldbra commented on #150
Thank you munro. Fortunately it crashed again, so here is part of a bigger window...
![screenshot_flimfiterror3](https://cloud.githubusercontent.com/assets/12895404/8829853/d5c34cb8-3090-11e5-846f-abee4fe3b71d.JPG)

[2015-07-23 12:03] imunro opened #151 "Multiple ROI's issue."
Pressing two ROI "shape" buttons consecutively then allows an ROI to be selected that cannot be deleted from the intensity display.

[2015-07-23 12:20] imunro commented on #149
Hi Wenjun. I just tried to  replicate this and it looked ok. Can you give me more details please and perhaps some test data. Thanks.

[2015-07-23 14:16] sguldbra opened #152 "FLIMfit v4.9.1 crashes"
Following procedure makes FLIMfit crash:
Loading FLIM Data, loading IRF Data (Scattered), want to check the IRF shift first. Therefore, I check that the IRF shift is set to zero, I choose  "Fit IRF shift" (Lifetime tab), set background to a fixed value (measured from a background image), set the algorithm to "Variable Projection", set "Scatter" to "Fitted Globally" (Stray tab) and click "Fit Datas

[2015-07-23 15:46] WenjunGuo2015 commented on #149
Hi Ian, thanks for the reply. I've tried again by loading a single image and a spatially varying IRF and then exporting the values of the data points, yet still no .csv file can be generated. Maybe the difference is that I have used a spatially varying IRF? Attached below is the error message:
![untitled](https://cloud.githubusercontent.com/assets/10564404/8854841/f520f794-3159-11e5-9923-81e05c5a4

[2015-07-23 15:48] imunro commented on #149
Thanks Wenjun I'll have another try with a spatially varying irf.

Ian

[2015-07-24 11:28] imunro commented on #149
Sorry Wenjun I failed again to replicate this . I think you need to take me through your workflow. When are you next around?

[2015-07-24 11:31] imunro commented on #149
Looking again at this is it possible that there are different Nos of time points in the irf and the decay ?
Can you give me access to the data that is giving you the problem ?

[2015-07-24 13:37] WenjunGuo2015 commented on #149
Hi Ian. Yes I think it could be due to that the Nos of time points are different in the IRF and the decay. I will send you my data and IRF via email right away. Thanks a lot.

[2015-07-27 11:12] imunro commented on #149
Hi Wenjun. Still not getting this: I have no idea what to do with the irf shift map file. Can we go through it on Wed as you originally suggested ?

[2015-07-27 13:58] WenjunGuo2015 commented on #149
No problem. Thanks a lot for working on this issue. I will go through it with you this Wed afternoon, say, after the journal club?

[2015-07-27 15:52] imunro commented on #149
Perfect. See you then.

[2015-07-29 13:47] imunro commented on #149
Thanks for taking me through this Wenjun. The issue seems to be when you import a shift map using "Load Spatially Varying irf" as you demonstrated then the irf data seems to be transposed (i.e. a row rather than a column). So @seanwarren can I ask if this is a valid thing to do?

[2015-07-29 23:33] seanwarren commented on #149
This sounds like a bug - I think we need a check to ensure the correct matrix orientation when the IRF is imported

Cheers
Sean

On 29 Jul 2015, at 23:47, imunro <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks for taking me through this Wenjun. The issue seems to be when you import a shift map using "Load Spatially Varying irf" as you demonstrated then the irf data seems

[2015-07-30 08:43] imunro commented on #149
Because it's a .xml file there's an exception in the "Load Spatially Varying irf" that imports using marshal(object).I assume therefore that the problem lies earlier in the creation or export  of the shift map.  However nobody is reporting problems with the shift maps?

One option is to add an "Import IRF shift map" menu item & as doing it via the "Spatially Varying irf" button seems a bit counter

[2015-07-31 18:36] imunro opened #153 "Different fit results from Mac to Win7."
Ross @ Beatson reports that he gets different results when fitting with the Windows and Mac  versions of FLIMfit.   Confirmed  using their data. Differences are not insignificant  e.g. tau = 4.9961 e+03 on Win7 vs 4.9657 e+03 on OSX.

[2015-07-31 18:38] imunro commented on #153
So far I have confirmed (by exporting the data from a pixel) that both data and irf are the same on the 2 machines but residuals differ which implies that the problem lies in the c++.

[2015-08-03 16:55] imunro opened #154 "Max Display in Integrated Intensity changes with Integrated Min"
The no displayed at top-right of the integrated intensity window seems to change as you change the Integrated Min control. @seanwarren Can you just confirm this is a bug not a feature please before I try to fix it.

[2015-08-03 17:10] imunro commented on #154
Sorry I should have checked the code before reporting . This clearly isn't the max in the image, as I expected, but the max used for the colour map - determined by a percentile.
So it looks as if the problem might be that this goes haywire once you have thresholded out all or all but one of the pixels.

[2015-08-04 00:54] seanwarren commented on #154
Hi Ian,

I guess this isn’t exactly intended, but I don’t think it’s a practical issue.

Cheers
Sean

On 4 Aug 2015, at 03:10, imunro <notifications@github.com<mailto:notifications@github.com>> wrote:

Sorry I should have checked the code before reporting . This clearly isn't the max in the image, as I expected, but the max used for the colour map - determined by a percentile.

So it looks as if t

[2015-08-04 01:04] seanwarren commented on #153
This looks pretty bad - I’ll have a look ASAP.
Please can you send me the data you’re using to reproduce this

On 1 Aug 2015, at 04:38, imunro <notifications@github.com<mailto:notifications@github.com>> wrote:

So far I have confirmed (by exporting the data from a pixel) that both data and irf are the same on the 2 machines but residuals differ which implies that the problem lies in the c++.

—
Re

[2015-08-04 08:20] imunro commented on #154
After further investigation it looks as if FLIMfit is behaving perfectly. The data contains a tiny handful of very bright pixels which are excluded from the autoscaling. As you push up the min threshold these start  to be included in the colour map  so the displayed max goes up. I'm thinking that displaying a real data max might help spot this sort of behaviour.

[2015-08-04 08:27] imunro commented on #153
All assistance welcome @seanwarren can you let me know your current e-mail address.

[2015-08-06 17:21] imunro opened #155 "Error loading data after exiting segmentation controller."
After opening the segmentation controller I segmented an image and then closed the segmentation window using the red cross at top-left rather than the ok button.

Subsequent attempts to load data then gave me:

Warning: Error occurred while executing callback:
Invalid or deleted object.

Error in flim_data_series_observer/data_update_evt (line 60)
            if ~ishandle(obj.data_series) && obj.d

[2015-08-06 17:48] yalexand commented on #155
No unfortunately didn’t see this before.. GUIDE sometimes behave strangely

From: imunro [mailto:notifications@github.com]
Sent: 06 August 2015 18:22
To: openmicroscopy/Imperial-FLIMfit
Cc: Alexandrov, Yuriy
Subject: [Imperial-FLIMfit] Error loading data after exiting segmentation controller. (#155)

After opening the segmentation controller I segmented an image and then closed the segmentation wi

[2015-08-06 19:52] imunro commented on #154
Max intensity display now added.

[2015-08-06 19:52] #154 closed

[2015-08-13 12:09] imunro commented on #155
Fixed in 4.9.1

[2015-08-13 12:09] #155 closed

[2015-08-13 12:09] imunro commented on #151
Fixed in 4.9.1

[2015-08-13 12:09] #151 closed

[2015-08-13 12:12] imunro commented on #149
"Sticking plaster" solution apparently works in 4.9.1 - needs further investigation to discover if Wenjun is generating malformed .xml files and if so why.

[2015-08-13 12:12] imunro commented on #148
Merged in 4.9.1

[2015-08-13 12:12] #148 closed

[2015-08-13 12:51] imunro commented on #147
@gchennell  I'm a bit baffled as to what the colour pulldown should do. I've tried with a couple of data sets and Iit doesn't seem to do anything are you segmenting beforehand ?

[2015-08-13 14:39] gchennell commented on #147
Hi,
I thought it was meant for colour coding when plotting regions instead of
pixels in the correlation plots. Something like being able to see which
points come from which well or another parameter.
Best,
George
On 13 Aug 2015 13:51, "imunro" <notifications@github.com> wrote:

[2015-08-13 14:40] gchennell commented on #147
I think I have tried it on either segmented or for FOV.
On 13 Aug 2015 15:39, "George Chennell" <gchennell@googlemail.com> wrote:

[2015-08-14 16:01] imunro commented on #147
I've been trying this with a plate and a time-series and can't replicate your problem. OTOH as soon as I select something under the colour pull-down the image jumps to being really tiny and usually hidden by it's own key. I'm guessing that a bigger monitor might help.

<img width="662" alt="screen shot 2015-08-14 at 17 00 19" src="https://cloud.githubusercontent.com/assets/1183110/9278065/04741624

[2015-08-18 15:02] yalexand opened #156 "crash in "init_memory_mapping" when trying to load large OPT-FLIM OME.tiff file"
Size of data was about 15G.
Computer's was Win 7 Enterprise 64, with installed memory 48G.
We keep trying but for now didn't succeed to load it.

![flimfit error when loading very large opt-flim ometiff](https://cloud.githubusercontent.com/assets/1183151/9333423/c09dc34a-45c1-11e5-8580-9d43fc431493.PNG)

[2015-08-27 11:56] imunro opened #157 "Possible performance issues with uncompressed .sdt files."
https://github.com/openmicroscopy/bioformats/pull/1950 adds the ability to load compressed .sdt files to bio-formats.(see https://github.com/openmicroscopy/Imperial-FLIMfit/issues/114 ) Note however my comments about possible unnecessary overhead of one 'if' per line. TBD Benchmark with new and old bio-formats. If there is significant slowdown then implement my suggested solution of overriding rat

[2015-08-27 11:56] imunro commented on #114
Addressed in Bio-Formats 5.1.4. Solution will automatically be included in next release of FLIMfit. However see my comments on https://github.com/openmicroscopy/bioformats/pull/1950 and https://github.com/openmicroscopy/Imperial-FLIMfit/issues/157

[2015-08-27 11:56] #114 closed

[2015-08-27 12:25] seanwarren commented on #157
Hi Ian,

I imagine branch prediction should sort out most of those if statements.

On 27 Aug 2015 9:56 pm, imunro <notifications@github.com> wrote:

openmicroscopy/bioformats#1950<https://github.com/openmicroscopy/bioformats/pull/1950> adds the ability to load compressed .sdt files to bio-formats.(see #114<https://github.com/openmicroscopy/Imperial-FLIMfit/issues/114> ) Note however my comments ab

[2015-08-27 12:31] imunro commented on #157
Hi Sean - it may be that it's al I/O limited anyway but thought it's be good to check.

[2015-09-02 13:59] imunro opened #158 "Add "Export Fit Results Table" menu item to OMERO-side."
Raised by @pwalczysko.

[2015-09-04 08:48] imunro opened #159 "Libgomp crash."
Beatson report the error below  error on several occasions. with 4.9.1 while trying to do an irf shift optimisation, with Global Analysis image wide and 2 exponentials. Only one data set was loaded.

I have so far failed to reproduce this and my current wild guess is that it's a memory issue.
Plausible @seanwarren do you think?

libgomp: Thread creation failed: Resource temporarily unavailable

--

[2015-10-29 13:57] imunro opened #160 "IRF shift & padding issues"
An issue was reported

On 27 Oct 2015, at 11:09,
"I have encountered another problem with my FLIMfit from Matlab (4.8.2). When I was trying to set a positive value to my IRF shift, the IRF couldn’t be shifted and an error was reported. The error message is as below:

Error using vertcat
Dimensions of matrices being concatenated are not consistent.
Error in flim_data_series/compute_tr_irf (line 226

[2015-11-03 16:19] imunro opened #162 "Failure to write IRF shift map to disk."
In 4.9.1 there is no longer a prompt to save the irf shift map to disk.

[2015-11-04 19:13] imunro opened #163 "Distinguish file types using bio-formats rather than extension."
Frederik has just established , by accident, that OMERO & therefore bio-formats can distinguish a .tiff from a .OME.tiff even  if there is no 'OME' string in the filename.
FLIMfit should use this capability as well.

Note after speaking to Melissa:
" ImageReader's getReader(String) would give you an instance of the concrete reader class that will be used for a particular file"
&
"getFormat(String)

[2015-11-05 13:21] imunro opened #164 "Crash when attempting to load an irf from OMERO to data loaded from disk."
Crashes in menu_OMERO_Load_IRF_annot_callback(obj,~,~)
 on the line
dId = obj.data_series_controller.data_series.datasetId;
as dayasetId is only in Romero_data_series
Can be addressed by
a) detecting the type of data_series
b) moving datasetId & plateId to data_series
Possibly  b) is more elegant but not very object-oriented @seanwarren

[2015-11-05 13:23] imunro commented on #164
Fixed using option a) for now.

[2015-11-11 12:34] imunro opened #166 "Display in the decay tab goes completely off the scale when using Image-wise global-binning. to Display in the decay tab goes completely off the scale when using Image-wise global-binning."
as reported by Romain Laine

"the display in the decay tab goes completely off the scale when using Image-wise global-binning.
As a consequence the residuals displayed also appear completely off.
Looks like a scaling problem."

[2015-11-11 15:45] imunro opened #167 "chi2 incorrectly normalised when fitting ROIs."
As seen when fitting Beatson data

[2015-11-16 14:22] imunro commented on #163
Some preliminary work has resulted in the following code block to be inserted in the file version of get_image_dimensions, load_flim_cube & load-plate. Suspending this for now as any restructuring here may well clash with work going on in the mew_FLOMReader branch,

% attempt to open a bioformats reader
    % Get the channel filler
    r = loci.formats.ChannelFiller();
    r = loci.formats.Channel

[2015-11-26 11:34] imunro opened #169 "IRF timing issues."
Frederik reports

"FLIMfit is not behaving like it should. If we are loading a Coumarin sample with delays from 0-16000ps and a scatteredIRF with delays from 0-4000ps FLIMfit is just fitting the decay from 4000ps. If we load an IRF with for example 0-6000ps, it is fitting just from 6000ps. See attached image.
If we load an IRF over the full range 0-16000ps FLIMfit is not fitting it properly. It is

[2015-11-26 12:25] imunro commented on #169
@f.gorlitz14@imperial.ac.uk   @g.chennell13@csc.mrc.ac.uk   Can I check you guys can see this?
I'm not going to get a chance to look at it now until at least Tue I'm afraid. Sorry.

[2015-11-26 14:05] imunro commented on #169
@kkwakwa @gchennell @Fredxxx

[2015-11-26 14:22] gchennell commented on #169
Hi - I have seen this.

[2015-11-26 14:32] Fredxxx commented on #169
me as well

[2015-11-26 15:56] gchennell commented on #169
Hi,
I just though to try out an idea. Using the IRF that Fred imaged on 15october I managed to get a much more sensible type of fit. This maybe suggests something about the file rather than the data it holds and what FLIMFit is trying to do. ![used the wrong irf and got a better result loldecay](https://cloud.githubusercontent.com/assets/7990390/11426687/ae047df4-9455-11e5-89a5-3e02e5cb8e96.png)
N

[2015-11-26 16:34] imunro commented on #169
Thanks Georgre That makes sense as I've never seen behaviour like that before. @Fredxxx could you put the data and irf in question somewhere that we can access (the OMER server would be my choice)

[2015-11-26 23:21] seanwarren commented on #169
@imunro I think this issue is related to commit 5a924290372d7358132834009cec70c88fcdbdbb .
I've made a pull request which should address the problem.

@gchennell @Fredxxx , you should be able to work around this issue by making sure there are no data time points before the first IRF timepoint. FLIMfit should pad automatically for you but it's doing this incorrectly at the moment, leading to this i

[2015-11-27 10:55] imunro commented on #169
I've only managed to look quickly at Sean's fix but I think we can go ahead and try - it's all in a beta release anyway. Unfortunately something has broken the builds this morning. So it won't be available for a while. Apologies.

[2015-11-27 13:26] imunro opened #171 "Invisible "estimate irf shift" window"
Beatson have been reporting "crahes" for some time. I've been testing 4.9.1 remotely on Ewan's machine  with their data. Eventually attempting "estimate irf shift" caused a problem.

It looked  as if, on this occasion, the window wasn't  made visible so it wasn't possible to stop it running.
Seems to be intermittent as I'd tried this several times before.

Chris suggested, at our last meeting that

[2015-11-27 14:30] seanwarren commented on #171
I think this is just exposing an underlying bug in the back end which I'd like to fix, bit in the long run yes I think it would be good to depreciate this feature, or at least reimplement it using the t0 model fitting (as its a bit obscure otherwise)

[2015-11-29 20:01] imunro commented on #169
Sean has now fixed the buld so a version with his fix for this issue is available from https://ci.openmicroscopy.org/view/Consortium/job/FLIMfit-latest-win/OME=5.1,label=vc110/
(Wonder what the point of me is ?)

@Fredxxx @gchennell could you try this and see if it fixes the problem? Thanks.

[2015-11-29 22:13] seanwarren commented on #169
Just so you're aware this is a potential fix - I don't have an example IRF that reproduces the bug so can't test yet.

[2015-12-02 15:09] gchennell commented on #169
Hi,

I've now tried to fit using the newer build sent in the link.
Didn't get it to fit properly though.

Ian, shall I link you to the data in question and see if you can see what is up?
I've got an OMERO account going now so maybe through that? Will it take raw data like this?

![4_9_2_coum6fit_no joy yetdecay](https://cloud.githubusercontent.com/assets/7990390/11534392/6ad5a70a-9906-11e5-8b0a-8e

[2015-12-02 15:17] imunro commented on #169
Hi George

Yeah putting the data on there would be good I think.
We can even put it in the public group to give Sean access if needed,

You can import screenshots to OMERO & if you’re working directly from OMERO in FLIMfit you can just r-click
to save the displayed fit  (or images or whatever) back into the OMERO server.

Ian

On 2 Dec 2015, at 15:09, gchennell <notifications@github.com<mailto:not

[2015-12-02 15:52] seanwarren commented on #169
George, could you email me the irf you're using please? To my old IC address or s.warren(at)garvan.org.au. Cheers Sean

[2015-12-02 16:06] imunro commented on #169
George. Can I just confirm? You can't fit this data/irf combination either with the latest build (inc my attempted fix and Sean's fix to my fix) or with older versions?  If so this might imply the issue lies in the data.

[2015-12-03 12:38] imunro commented on #169
Sean I've put a copy of Georges data in
https://cisbic.bioinformatics.ic.ac.uk/omero/webclient/?show=dataset-8158
or if you can still vpn you can access it directly at
https://cisbic.bioinformatics.ic.ac.uk/omero/webclient/?show=dataset-8157

[2015-12-03 13:27] imunro opened #172 "Use of "Generate irf shift map" functionality."
There seems to be some confusion - not least on my part, about how/when this is used.

My current understanding is that an irf shift map is for use when , for some reason, a spatially varying irf can't be measured and that it is used as follows:

1) measure a spatially invariant sample (say a dye soln)
2) generate the irf shiff map from that
3) measure an irf
4) fit using both the shift map and th

[2015-12-03 19:28] gchennell commented on #169
Sorry - yes to confirm - older versions also make the same error - just a straight line like the above image

[2015-12-03 21:33] seanwarren commented on #169
Hi all, looks like the problem is that the IRF data is saved in reverse time order in the TIFFs. FLIMfit loads it in as-is (but requires the IRF to be arranged in equally spaced ascending order).

I've committed a fix for this, fc91b2ca2a6070dba62e1074c387eca6e9c08d6b. Now it should sort the data on import. I've tested the data provided and it seems to work OK

[2015-12-03 21:33] #169 closed

[2015-12-03 21:44] imunro commented on #169
Hi I've seen data saved in reverse time order as well.
Long term I'll modify the loading so that all data gets re-ordered but for now I think we might be better  to fix the OpenFlim acquisition software.

[2015-12-03 22:30] seanwarren commented on #169
Actually the data itself doesn't really need to be ordered (although it recognises equally spaced ascending data and can process that a bit faster). It's just the IRF so I think the commit above should solve the issue.

[2015-12-03 22:44] imunro commented on #169
Oh! I didn't know that

[2015-12-14 17:06] Fredxxx opened #173 "Exclude empty FOV from plotter mean value calculation"
If there are empty FOV, they are messing up the plotter display.

[2015-12-14 19:26] imunro commented on #173
Hi Frederick. Is this with plate data ? and if so from a single ome-tiff or a stack?

[2015-12-15 16:22] Fredxxx commented on #173
plate data saved as seperate FOVs. I think it is just a minor bug by taking the mean value. The empty ones shouldn't be considered in mean values because I think FLIMfit is adding a null and thus they will always lower the value.
So far my observations and conclusions, but basically I am just guessing! Could be anything!

[2016-01-05 17:15] imunro opened #174 "Change the colour of the numbers in the segmentation manager"
RFE from
Laser Analytics Group
Department of Chemical Engineering and Biotechnology
University of Cambridge

"I think it would be great to be able to change the colours in which the numbers appear in the segmentation manager. The region numbers currently appear in black, and if the region is very small and surrounded by black background it is virtually impossible to read that number".

[2016-02-05 16:20] pwalczysko opened #178 "Histogram saving - context menu"
Create a histogram in FLIMfit (e.g. fit the ``convalaria`` image pixel-wise), try to save it by right-click onto it and ``Save as``.
In case the bars in the histogram are high, you very often tend to click onto the bars (as opposed to the white space in the rest of the histogram). If you click onto the bars, there will be no context menu displayed (only on the white space)

Observed with many vers

[2016-02-05 16:29] imunro opened #179 "Fail on opening multi-channel single pixel .sdt file."
Berlin report (by private e-mail) a problem with opening a single-pixel .sdt file  as polarised data with 4.10.1.

Preliminary investigation shows that attempting to open any channel > 1  gives an error.

running bio-formats (v5.1.7) showinf  tool gives the errors below:
Strongly suggesting that the problem lies either in the file or in the bioformats sdt reader.

  ./showinf rh6g_469nm_3au.sdt
Ch

[2016-02-08 18:42] imunro commented on #172
@Powerfultool seems to be running into the same questions. What is the required sequence here ?

[2016-02-09 16:24] Fredxxx opened #180 "export data is showing NaN"
Sometimes when exporting data like histogramms or data from plotter menu some numbers are not shown as values but as NaN, even if they are included in the fit result table (export fit result table).

That is reducing the FLIMfit usability massively.

[2016-02-09 16:26] Fredxxx opened #181 "save data settings"
minor issue: it would be quite handy if the fit properties would also be included in the save data settings. Like (Lifetime, stray, anisotrop, FRET, advanced)

[2016-02-09 16:34] Fredxxx commented on #180
Sorry mixed the fit result tables up. The data isn't even shown in fit result table. Thus FLIMfit is not uasable at the moment................................

[2016-02-09 19:15] seanwarren commented on #180
Hi Fred,

Can you give any more details about when this is happening?

Cheers

[2016-02-09 21:26] imunro commented on #180
Hi Fred From what I saw the other day it looked as if this worked for most data ?

[2016-02-10 09:13] Fredxxx commented on #181
Hey Sean,

cannot really find a save or load fit settings button. But if this is already included I will ask Ian to show me where it exactly is.

Thanks
Frederik

[2016-02-10 09:13] #181 closed

[2016-02-10 09:16] Fredxxx commented on #180
Hey Sean,

it is really suprising, refitting is not solving the issue. But if I close and start FLIMfit again it solved the issue. Thus the error is not really reproducable or I did something different the second time I load FLIMfit?!
The attached files show data I meant with two different error behaviors. One is completly filled with NaN and the other one is just after a certain well filled with

[2016-02-10 09:35] imunro commented on #181
@Fredxxx I think, by a process of elimination, that  it must be "Export Initial Fit Parameters"

[2016-02-22 15:05] imunro commented on #179
Addressed by https://github.com/openmicroscopy/bioformats/pull/2253
Just need to get these changes into a FLIMfit release now.

[2016-02-23 09:04] imunro commented on #162
Finally addressed in 4.10..3

[2016-02-23 09:04] #162 closed

[2016-02-23 09:05] imunro commented on #160
Addressed in 4.10.3

[2016-02-23 09:05] #160 closed

[2016-02-23 09:06] imunro commented on #158
Finally done in 4.10.3.

[2016-02-23 09:06] #158 closed

[2016-02-23 09:09] imunro commented on #153
Addressed in 4.10.3 (I think) Prpbably attributed to rounding errors. @seanwarren cab you remember ?

[2016-02-23 09:17] imunro commented on #156
I suspect this is just unmanageably large data and no longer an issue .

[2016-02-23 09:17] #156 closed

[2016-02-25 16:55] ilyaradko opened #182 "Support for PicoQuant .bin files is broken starting from version 4.10"
It used to work without problem, at least in the previous version 4.9, but after updating to version 4.10.3, .bin files are either cannot be loaded at all, or loaded as broken ones.

[2016-02-25 17:17] imunro commented on #182
Many thanks for spotting that I'll investigate and get back to you.

[2016-02-25 19:56] imunro commented on #182
@seanwarren This looks like an easy fix - simply switch back to using bio-formats for these files, or is there extra functionality in the new  reader that you have added?
in fact I'm planning to address https://github.com/imperial-photonics/FLIMfit/issues/163 in the next day or so so both could be tackled together.

[2016-02-26 00:09] seanwarren commented on #182
@ilyaradko - thanks for the report. Would you be able to share some a test image with us so we can get to the bottom of this? If you could email it to s.warren@garvan.org.au that would be great.

@imunro - I was having problems loading bin files with the BF reader but lets try rolling back and I'll see if I can still read them

[2016-02-26 09:22] ilyaradko commented on #182
Sean, I just sent you two small test files to your email - an IRF profile and a 10x10 pixels image.

[2016-02-26 09:44] imunro commented on #182
Sean - if there are problems with your files and the Bf reader I'd really like to get them fixed as this is much more widely useful than just in FLIMfit ( Imagej, Icy, Matlab, OMERO etc) so can you also send me the files in question.

[2016-02-28 11:26] imunro commented on #182
Thinking about it Sean - even better would be to upload directly to https://www.openmicroscopy.org/qa2/qa/upload/   with some feed back describing the issues. If we can get on this quick we can get any problems fixed in the upcoming bio-formats release.

[2016-02-29 09:41] imunro commented on #182
@seanwarren I fear we may have missed the boat for bio-formats 5.1.8

[2016-03-02 23:00] #139 closed

[2016-03-02 23:01] seanwarren opened #184 "SV IRF export/import"
Need to make sure IRF settings are reset before loading SV IRF xml file

[2016-03-02 23:03] seanwarren commented on #180
Hi I'm closing this as we can't reproduce - let me know if you see this again

[2016-03-02 23:03] #180 closed

[2016-03-02 23:08] seanwarren commented on #84
@imunro is this still a problem or should we close this?

[2016-03-02 23:10] seanwarren commented on #141
This is the intended behaviour

[2016-03-02 23:10] #141 closed

[2016-03-03 12:23] imunro commented on #141
I know! So "Mainly reported as a warning not to put other .tifs in with stacks!!"

[2016-03-03 12:30] imunro commented on #163
I have a fix ready to go - which , as side effect will fix https://github.com/imperial-photonics/FLIMfit/issues/182

[2016-03-03 12:31] imunro commented on #84
Haven't seen it with the new build yet!

[2016-03-03 12:31] #84 closed

[2016-03-03 12:40] imunro commented on #179
Whether we can get this into 4.10.4 depends on the bio-formats release schedule.

[2016-03-03 12:43] imunro commented on #164
I've just implemented solution b) for other reasons so should be solved in 4.10.4- subject to test.

[2016-03-03 15:08] imunro commented on #152
It's unclear whether this is still an issue on the new build system so closing! @sguldbra if you see this with 4.10- something please re-open.

[2016-03-03 15:08] #152 closed

[2016-03-03 15:18] imunro commented on #153
@seanwarren do you think we can close this one ?

[2016-03-03 15:21] imunro commented on #150
As we haven't seen this issue on a 4.10 version. Closing. Please report if it  re-occurs.

[2016-03-03 15:21] #150 closed

[2016-03-04 16:23] imunro opened #187 "Builds need separate environment variables for OMERO and bio-formats"
I have introduced a new BIO variable into into mac-merge and OMERO52 but once tested needs to be changed in all the other builds.

[2016-03-04 16:36] imunro opened #188 "Mac-merge build isn't updating OMEROMatlab/libs"
Currently the artifacts from mac-merge build is broken giving the following:

Error using front_end_menu_controller/menu_OMERO_Load_FLIM_Data_callback (line 383)
Java exception occurred:
java.lang.NoClassDefFoundError: omero/gateway/model/PlateData

So far I have determined that OMEUiUtils.jar is correct (by running locally from source using the version copied from the MCR cache)
and that the clas

[2016-03-04 16:58] sbesson commented on #188
Looking at the content of `OMEROMatlab` on CI e.g. `OMEROMatlab/roi/createRectangle.m` is still at version 5.1.x (using `RectI`) although OMERO.matlab 5.2.x is downloaded. In order to solve this issue:
- eithe the Git workspace should be cleaned via the Jenkins configuration (preferred)
- or the `mv` command should be updated to remove dangling folders before renaming

[2016-03-04 17:07] imunro commented on #188
I was just trying  the second option when you commented - so have now added "clean after checkout" to the Source Code Management step instead.

[2016-03-04 18:57] imunro commented on #188
Having moved back to my flat for working internet  in oeder to be able to download it - that seems to have worked. @swarren Are you happy for me to implement that across all the builds?

[2016-03-04 19:31] swarren commented on #188
I think you mentioned the wrong person. I know nothing about this repo/project.

[2016-03-04 21:51] imunro commented on #188
My apologies.

[2016-03-04 21:53] imunro commented on #188
That seemed to work. @seanwarren are you happy for me to replicate that change across the other builds?

[2016-03-04 23:40] seanwarren commented on #188
Yup cheers Ian

[2016-03-05 12:05] #188 closed

[2016-03-07 10:55] imunro commented on #187
Done on both merge builds. Wil lpropogate to other builds once these are sorted.

[2016-03-09 18:44] Powerfultool opened #189 "Single value background doesn't seem to work"
Looking at a single decay (actually an IRF measurement), changing the value in the background tab doesn't seem to do anything in terms of camera background offset, but supplying a background image does...

[2016-03-09 20:43] imunro commented on #189
Could you send me the file. Assuming I ever stop coughing I'll have a look tomorrow.

[2016-03-10 11:36] imunro opened #190 "LaVision Imspector ome-tiffs with multiple time-points don't load."
Berlin have provided some OME-tiff samples that won't load.
The issue is that they have multiple time-points and we have only seen single time-point data in the past.

[2016-03-10 12:07] Powerfultool commented on #189
Hi Ian, it’s one of Edwin’s – I’ll try to get it to you sometime today

From: imunro [mailto:notifications@github.com]
Sent: 09 March 2016 20:44
To: imperial-photonics/FLIMfit
Cc: Kumar, Sunil
Subject: Re: [FLIMfit] Single value background doesn't seem to work (#189)

Could you send me the file. Assuming I ever stop coughing I'll have a look tomorrow.

—
Reply to this email directly or view it on

[2016-03-10 13:24] imunro commented on #182
@ilyaradko @seanwarren  There is now a beta-test version of FLIMfit including my proposed solution to this Issue available from:
http://ci.flimfit.org/job/flimfit-merge-mac/gcsObjects/
or
http://ci.flimfit.org/job/flimfit-merge-win/gcsObjects/
Would it be possible for you to check this version works with your .bin files.

NB there is a known issue that files larger than a threshold (currently 900

[2016-03-11 10:28] imunro commented on #187
Now done for  all the builds

[2016-03-11 10:28] #187 closed

[2016-03-14 08:51] ilyaradko commented on #182
@imunro Sorry for the delay - could not test it until now. Unfortunately, nothing has changed for me - the behaviour is exactly the same: .bin files can either not be loaded at all, or they are cut in dimension by half (and also transposed compared to version 4.9 - but this is not a problem).

[2016-03-14 09:14] imunro commented on #182
Many thanks. That's unexpected. Could I ask you to upload a test file/s to https://www.openmicroscopy.org/qa2/qa/upload/ please.

[2016-03-14 09:17] seanwarren commented on #182
@imunro, this should now be fixed as of 0d5d06.  I will test again tomorrow morning and send a version to test. Cheers

[2016-03-14 09:22] imunro commented on #182
Hi Sean. Overriding the existing bio-formats reader (unless there's a reason for it )  gives me a problem as we now have (potentially) divergent behaviour when loading from file or OMERO.

[2016-03-14 09:30] ilyaradko commented on #182
@imunro A little update. I just figured out that large files are opened much faster due to some optimization, which reads only every second row and every second column in the data file (hence, the reduced resolution by one half). The .dat file, which I cannot open is an IRF function, which is just a 1x1 pixel data (one histogram). My guess is that the IRF cannot be loaded because of this speed opt

[2016-03-14 09:32] imunro commented on #182
Thanks @ilyaradko

[2016-03-18 03:12] seanwarren commented on #105
Implemented in 8a1c228b64d55254db7eb6306b35579f660952c5

[2016-03-18 03:12] #105 closed

[2016-03-18 03:13] #163 closed

[2016-03-18 03:17] seanwarren commented on #182
Fixed as of 6d3a79826753589f5c8e3e2d79dc0b0e0c86fdb3. Will be released in v4.10.4

[2016-03-18 03:17] #182 closed

[2016-03-18 03:35] seanwarren commented on #184
Hopefully fixed in 64dd246f11bc7822b49655fa99d7eadf27a50490.
@WenjunGuo2015 @Fredxxx - please could you test that this fixes your SV IRF loading issue that we discussed over christmas using the version linked below?

http://ci.flimfit.org/job/flimfit-latest-win/62/gcsObjects/

[2016-03-18 03:42] seanwarren commented on #149
@WenjunGuo2015 , @imunro  is this still outstanding? some brief testing over here shows that this seems to be working as expected

[2016-03-18 03:42] #149 closed

[2016-03-18 06:44] seanwarren opened #193 "Improved error reporting"
Should produce error messages when we have a matlab exception, not just write text to the console

[2016-03-18 06:45] seanwarren opened #194 "New version check"
Add ability to check for new versions

[2016-03-18 06:45] seanwarren commented on #194
Being addressed in #192

[2016-03-18 06:46] seanwarren commented on #193
Being addressed in #192

[2016-03-18 06:46] #35 closed

[2016-03-18 06:47] #90 closed

[2016-03-18 22:43] WenjunGuo2015 commented on #184
Hey Sean, I have just tested the new version by first loading a .xml file as the IRF, changing the IRF settings, and then loading another .xml file as the IRF. Unfortunately the IRF settings, e.g. background and t0, were not reset to zero. Do you think I was looking at the right things?

[2016-03-19 06:42] seanwarren commented on #184
Actually the fix will only apply to new xml files - could you try creating a new one and loading that please?

On 19 Mar 2016 9:43 am, WenjunGuo2015 <notifications@github.com> wrote:

Hey Sean, I have just tested the new version by first loading a .xml file as the IRF, changing the IRF settings, and then loading another .xml file as the IRF. Unfortunately the IRF settings, e.g. background and t0,

[2016-03-19 11:24] #164 closed

[2016-03-19 11:25] imunro commented on #190
Works for the on etest file I have from Anca so far.

[2016-03-19 11:25] #190 closed

[2016-03-19 21:02] WenjunGuo2015 commented on #184
Hi Sean, the new version works perfectly with newly-generated .xml files. Thank you very much for the fix.

[2016-03-20 11:39] imunro commented on #184
Thanks Wenjun.

[2016-03-20 11:39] #184 closed

[2016-03-20 22:26] seanwarren commented on #179
@imunro - do you want to wait for this or should we release without?

[2016-03-20 22:27] seanwarren opened #195 "Error loading picoquant files with low rep rates"
Bin resampling code does not select correct channels for rep rates <80MHz

[2016-03-20 22:28] seanwarren commented on #195
Resolved in 740584cc425ab053345527fc9e06d2c166e81cec

[2016-03-20 22:28] #195 closed

[2016-03-20 23:06] imunro commented on #179
Hi Sean

I’m tempted to try and release rather than wait and then do a 4.10.5 when this comes out  but  I’ve left myself a lot to do
this week. (Big stack of marking!) so may not have time befiore I go.

Let’s see how much I can get done tomorrow then decide ?

Ian

On 20 Mar 2016, at 22:26, Sean Warren <notifications@github.com<mailto:notifications@github.com>> wrote:

@imunro<https://github.com/

[2016-03-20 23:10] seanwarren commented on #179
No problem, this isn't a massive blocker from my point of view - people can always export as ASCII files

[2016-03-21 09:26] imunro commented on #179
Ah! Maybe my Portugese contact doesn’t know that.
I’ll forward the e-mail thread.

Ian

On 20 Mar 2016, at 23:10, Sean Warren <notifications@github.com<mailto:notifications@github.com>> wrote:

No problem, this isn't a massive blocker from my point of view - people can always export as ASCII files

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitH

[2016-03-22 01:24] seanwarren opened #197 "Can only load one channel from FLIMreader at a time"
Should be able to load multiple channels from a single image

[2016-03-22 01:26] seanwarren commented on #197
Fixed in 747dfa201a070ab8c9bb5f6e8716118f0edf14f4

[2016-03-22 01:26] #197 closed

[2016-03-23 22:34] seanwarren opened #198 "Implement options dialog to choose spatial binning and temporal resolution for FLIMreader"
Currently temporal resolution fixed such that there are 256 time bins

[2016-03-24 12:05] gusferguson opened #200 "Error when no image loaded"
Hi Ian - doing screenshots for help - what looks like an uncaught exception when selecting OMERO > Export Images ... when I have no data loaded.
[code]

[2016-03-28 14:56] hflynn opened #201 "gh-pages website issues"
http://imperial-photonics.github.io/FLIMfit/news/ doesn't include the release announcement for 4.10.3 (http://lists.openmicroscopy.org.uk/pipermail/ome-users/2016-February/005863.html)

Also, once you have navigated to the docs, you can't go back to main home page without using the back button, your FLIMfit home icon in the top left corner only goes back to docs front page which you can always nav

[2016-03-29 01:32] seanwarren commented on #201
@hflynn thanks for the comments - I've updated the news page now.
The docs are a bit more complex as I'd need to edit the sphinx theme, I'll have a look into it

[2016-03-29 08:43] hflynn commented on #201
Thanks @seanwarren

I seem to remember having a similar issue with our blog, I'll take a look later if I get chance and let you know if I have any ideas for you to try.

[2016-03-29 09:03] hflynn commented on #201
Ah yes, having had a poke around, I see what you mean. Might be easiest to just add a hardcoded link in your menu. Just a suggestion anyway, I leave it to you if it's more bother than it's worth. Feel free to close this if you like.

[2016-03-29 09:35] seanwarren commented on #201
@hflynn I've fixed this by manually editing the theme to point to flimfit.org, I'll see if there is a more elegant way in the future but for now it does the job!

[2016-03-29 09:35] #201 closed

[2016-03-29 09:35] #193 closed

[2016-03-29 09:35] #194 closed

[2016-03-29 09:48] hflynn commented on #201
:+1: Thanks very much, works for me!

[2016-03-29 14:45] imunro commented on #200
Thanks Gus. Just got back so I'll get straight on this.

[2016-03-30 05:15] seanwarren commented on #198
Implemented with merge of #199

[2016-03-30 10:31] imunro commented on #200
@gusferguson Many thanks for spotting this.Just pushed a fix, as soon as our ci sever is back up could you test for me please?

[2016-03-30 10:38] imunro opened #202 "Unable to copy text from error dialog"
Currently it's not possible to copy the text from an error window on OSX (El Cap) when running from source (master branch). I'm sure this worked at one point so maybe just a merging issue.

If it's from source only then not a serious problem. When the ci server is back up I will check whether this is also true of the compiled binary.

[2016-03-30 10:40] gusferguson commented on #200
@imunro - happy to - just ping me when you are up again.

[2016-03-30 10:49] imunro commented on #200
@gusferguson I just spotted similiar issues on a couple of other menu items. I'll fix those as well and then ping you.

[2016-03-30 11:47] imunro commented on #202
Confirmed on output of FLIMfit-latest build.

[2016-03-30 11:59] imunro commented on #202
For the particular error that I'm generating (see #200) I am also seeing the following:
" Diagnostics error:
Undefined function 'urlencode' for input arguments of type 'char'. "

in the text window ( the window where error reports used to go before 4.10.4)

[2016-03-30 14:02] imunro opened #203 "Wrong default path for OSX"
If file->save_data_settings is called before any data is loaded (see #200 ) then the popup window displays:  "Save As" C/\.xml".
Looks as if the "/" is hardcoded somewhere.
Not sure about the "C" at all.

[2016-03-30 14:17] imunro commented on #200
It would be good long-term if these menu items "worked" i.e. allowed results to be saved to OMERO when data is loaded from disc. This is simply a matter of having a "prompt-for-export" prompt implemented in flim_data_series (a wrapper around uiputfiles) OTOH some menu items both file and OMERO-side should perhaps be disabled until some data is loaded first. see #202 for example @seanwarren .perhap

[2016-03-30 14:19] imunro commented on #200
@gusferguson should be testable now https://storage.googleapis.com/flimfit-downloads/latest/4.10.3-94-g46ce79b/FLIMfit%204.10.3-94-g46ce79b%20Setup%20x64.exe

[2016-03-30 14:24] imunro commented on #200
@gusferguson Ooops! Sorry another bug seems to have appeared loading data from OMERO. Can you hold off again please. Can't see how this could be related but  ....

[2016-03-30 14:36] imunro commented on #198
@seanwarren this has currently broken the OMERO side completely.
The issue is that I overload flim_data_series.get_image_dimnesions and the interface no longer matches
as there's an extra reader_settings returned. Is there some "do whatever you used to do" values that  I can return in get_image dimensions?

[2016-03-30 21:38] seanwarren commented on #198
Sorry about this @imunro - I've commit 2a69f6f84372f7e1c18bb4ec83bdfa406897e608 should address this. I can't test OMERO stuff here so could you try please?

[2016-03-31 08:11] imunro commented on #198
Certainly and thanks. If you want to be able to test OMERO stuff I can easily get you an account on Dundee's demo server , which I use.. Just let me know. However I can quite see that you wouldn't want to.

[2016-03-31 08:26] imunro commented on #198
Passed a quick fire test. I'll check more throughly later but looks good.

[2016-03-31 08:26] #198 closed

[2016-03-31 09:06] imunro commented on #200
@gusferguson I think this is ready for testing now. Sorry about the fafffage. https://storage.googleapis.com/flimfit-downloads/latest/4.10.3-96-ge2313ca/FLIMfit_4.10.3-96-ge2313ca_MACI64.zip

[2016-03-31 12:21] gusferguson commented on #200
@imunro

Tested with 4.10.3-96-ge2313ca.app on Mac - all export menu items behave as expected.
Good to close this issue.

[2016-03-31 18:59] imunro commented on #200
Many thanks.

[2016-03-31 18:59] #200 closed

[2016-03-31 19:06] imunro commented on #179
bio-formats 5.1.9 is planned for release on the 11th.@seanwarren I  suggest 2 or 3 days later for 4.10.4.
If you're happy with that I suggest no more "enhancements" in the master thread from now  just bug fixes.
Sound alright ?

[2016-04-01 09:20] imunro commented on #202
@seanwarren do you happen to know if this is just El Cap or all OSX ?

[2016-04-03 10:12] seanwarren commented on #179
sounds good to me

[2016-04-04 10:22] imunro commented on #203
@seanwarren Do you want me to try and tackle this for 4.11? My feeling is that it's pretty minor so not worth the risk close to a release?

[2016-04-04 11:39] seanwarren commented on #203
I think as you say best to let this one lie until the next release

[2016-04-04 12:38] gusferguson opened #205 "Consider hosting MCRs on OME downloads server."
Downloading the Windows MCR from the Mathworks web site took 50 minutes. I think it would reduce frustration if the links to the appropriate MCR on the FLIMfit downloads page were to MCRs stored on the OME web server - as Michael does for MTools.

This only should this be much quicker, but also ensure that the correct MCR version was downloaded.

[2016-04-04 13:59] #202 closed

[2016-04-04 14:04] imunro commented on #157
Nobody seems to be moaning - so let's assume it's "fast enough"

[2016-04-04 14:04] #157 closed

[2016-04-04 14:06] imunro commented on #153
I think we attributed this to rounding errors in the end @seanwarren  close if you're happy.

[2016-04-04 17:18] imunro opened #206 "Consider adding smooth across FLIM cubes."
As we are starting to see more z-stacks and time-series should we add the capability to smooth in the other dimension ie between FLIM cube.  We can alway disable for Plates. @seanwarren what do you think?

[2016-04-04 21:52] seanwarren commented on #206
@imunro, interesting idea. This would require fairly substantial modifications to the backend so maybe we could consider as part of bigger push to handle 3D data in a more native manner

[2016-04-04 22:05] seanwarren commented on #205
@gusferguson this is a good idea - @imunro do you know who we need to ask to get the MCR downloads hosted on the OME server? We can change the link over easily once it's up

[2016-04-05 08:45] imunro commented on #205
Not too sure who's plate that would land on @gusferguson any thoughts ?

[2016-04-05 10:08] imunro opened #207 "All-z button should be disabled when multiple files selected."
As reported by @mdc-berlin.de. Preliminary investigation shows further related issues.

1. if we have an "all-z" button then why not a matching "all-t" ?
2. Currently for a single file it is possible to select several t-ime points and also multiple z.  Should also be disallowed.

[2016-04-05 10:17] imunro opened #208 "Consider allowing multiple file selection in "Load Data" File side."
Currently OMERO-side the "Load Data" menu item allows more than one file to be selected.
This seems more intuitive to me for small Nos of files leaving "Load FLIM Dataset" for large numbers of files or where filtering is needed.

I suggest modifying the file side to match and also renaming "Load FLIM Dataset" to "Load  FLIM data from a directory" to reflect it's use and  match OMERO-side. @seanwar

[2016-04-07 21:04] imunro opened #209 "Picoquant .bin files broken again."
On attempting to open a .bin file I see a "loading options" prompt. Using the defaukt settings the image fails to load.

This looks like functionality for selecting a size when  binning FIFO data but AFAIK the .bin files are already binned (hence the name) so the size is known.

[2016-04-07 21:06] imunro commented on #209
I also see:
2016-04-07 22:01:00.640 FLIMfit[7061:41857] Couldn't find or read strings file SlicesStrings
in the text window but haven't definitely established this is related.

[2016-04-07 23:17] seanwarren commented on #209
Thanks for picking this up @imunro - this is actually not related to the spatial binning which is implemented for bin files. I changed the way the number of channels was stored and missed this reader. Should be fixed in 0635f0f787ef81a69f7b92367ca834ba382c7731

[2016-04-07 23:17] #209 closed

[2016-04-07 23:23] seanwarren opened #210 "Refactor temporal binning in FLIMreader"
Change implementation to set temporal binning rather than resolution and include support for bin files

[2016-04-08 11:12] imunro commented on #209
Looks good now - 12 hr overnight bug fixing service. Hah!

[2016-04-08 14:13] imunro opened #211 "Consider adding a z-T viewer tab."
Following discussion with Berlin on restricting loading from multi-D  data to either a z-stack or a Time-series "because FLImfit can't do  2D display" it occurs to me that the Plate tab does exactly that.

@seanwarren How hard do you think it would be to add a tab (based on plate) that displayed z-T as a grid rather than Row-Column ? and is it worth considering?

[2016-04-10 01:52] seanwarren commented on #211
@imunro - this would probably be relatively straightforward, although it might have to be modelled on the gallery tab with a scroll. An alternative approach might be to have an imagej style window where you can scroll through the dimensions movie-style

[2016-04-10 10:22] imunro commented on #211
Hmm perhaps 'Gallery" might be a better starting point - thanks.

[2016-04-11 15:40] imunro commented on #210
I would suggest doing this outside FLIMReader so it works with all Fie formats as it sounds generally useful.

[2016-04-11 16:16] imunro commented on #211
On preliminary investigation the first step is probably to implement this for a dataset where there is  one non single dimension across multiple files. e.g a z-stack in each file and one file per time-point.
Step 1: allow selection of multiple planes for . 1 file. - maximae set in get_zct
Step 2: Set obj.names in load_multiple.
Step 3. Ensure all planes load correctly.

Finally it's then worth wor

[2016-04-14 09:39] seanwarren opened #212 "Loading tif stack broken"
Somewhere along the way with OMERO merges the ability to load tif stacks has become badly broken

- Tries to look for non existent path
- Loading tries to find first file containing delay - this is wrong for the general case (e.g. 5500 contains 500).

[2016-04-14 09:45] imunro commented on #212
Well-spotted I'll look at that today.

[2016-04-14 09:45] seanwarren commented on #212
I'm sorting it now

[2016-04-14 10:17] imunro commented on #212
ah already have it

[2016-04-14 10:17] imunro commented on #212
both do a pr ?

[2016-04-14 10:20] seanwarren commented on #212
Sorry I got a bit carried away and have committed straight to master

[2016-04-14 10:20] seanwarren commented on #212
should be fixed in d018c304cb0f04433288924b14e5bdc5aae6c755

[2016-04-14 10:34] imunro commented on #212
Do you still use this format then? I still test (hopefully would have caught this in pre-release testing) but didn't think it was still used.

[2016-04-14 10:49] seanwarren commented on #212
I got an email from Lambert, they have been giving it a go. It's a useful format for simulated data etc

[2016-04-14 10:49] #212 closed

[2016-04-14 11:56] imunro commented on #212
Is it ok with you if I put the waitbar back? OCD!

[2016-04-15 19:27] imunro opened #214 "4.10.3 Installs on Windows as 4.10.3GCxxxx"
This may have been a glitch on the OME release or on ci.flimfit  but it does mean that the Release looks like a beta-version which is confusing.

[2016-04-16 09:43] imunro opened #215 "dll's and less crucially .dylibs should be downloadable."
See http://lists.openmicroscopy.org.uk/pipermail/flimfit-users/2016-April/000033.html

[2016-04-16 09:45] #207 closed

[2016-04-16 09:46] imunro commented on #179
Bio-formats 5.1.9 now scheduled for Tue 19th!

[2016-04-18 17:07] imunro commented on #179
@seanwaren 5.1.9 is finally out (catching me completely by surprise). I'm not 100% sure how to generate an RC though? Change tags and run Release builds or is it more complex?

[2016-04-18 21:36] seanwarren commented on #179
Great, no need to do a release build - it's just a tag. Lets test a bit and then do the release

[2016-04-18 22:09] imunro commented on #179
That was my plan for tomorrow. Don't the latest builds have the git-commit tag in the name though ?

[2016-04-18 22:55] seanwarren commented on #179
Only if there have been changes since the last tag - the commit you tag with 4.11.0RC won't have anything appended

[2016-04-19 08:04] imunro commented on #179
Ooops! Looks like you might already have done this - times foxed me - I haven't woken up yet

[2016-04-19 08:14] imunro commented on #179
Looks ok. As far as I can see you built (I guess for testing)  but didn't tag & then I tagged. Find any problems?

[2016-04-19 08:43] seanwarren commented on #215
Fixed for latest build, just need to add to merge/release

[2016-04-19 08:52] imunro commented on #215
Cool thanks.

[2016-04-19 10:11] seanwarren commented on #215
Done for release as well - no changes to the build itself so you're good testing the current build

[2016-04-19 10:11] #215 closed

[2016-04-19 10:15] seanwarren commented on #214
where are you seeing this string ian? cheers

[2016-04-19 10:16] imunro commented on #215
I've been testing the output from latest - with a view to just copying that to the Download pages.
Do I need to use the Release builds at all ?

[2016-04-19 10:18] seanwarren commented on #215
I think it's better to use the release build if poss...

[2016-04-19 10:19] imunro commented on #214
The desktop shortcut seems to be called that. As I said above it's possible that the wrong file was copied to the OME downloads page so may not be at your end.

[2016-04-19 10:19] imunro commented on #215
ok I'll re-check

[2016-04-19 10:30] imunro commented on #215
Is it ok to run the release builds then ?

Ian

On 19 Apr 2016, at 11:18, Sean Warren <notifications@github.com<mailto:notifications@github.com>> wrote:

I think it's better to use the release build if poss...

—
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub<https://github.com/imperial-photonics/FLIMfit/issues/215#issuecomment-211844919>

[2016-04-19 14:50] imunro opened #216 "Unexpected error message"
Found during pre-release testing of 4.11.0 on terminalsix - Windows server
Opening a Picoquant .bin file gives the error below. NB in the test window not via the new error reporting.
The file does , however, appear to load correctly

<img width="706" alt="screen shot 2016-04-19 at 15 47 00" src="https://cloud.githubusercontent.com/assets/1183110/14643418/3c6e08e6-0646-11e6-86fc-d395c6a510f4.png">

[2016-04-19 14:55] imunro commented on #216
My assumption is that this is arising when I use bio-formats to check the file type before handing it over to FLIMReader. @seanwarren can we live with this for this release?

[2016-04-19 15:27] #179 closed

[2016-04-20 01:38] seanwarren commented on #216
@imunro, are we using bioformats or FLIMreader for .bin data at the moment? Have we resolved the loading time issues with bin files now?

[2016-04-20 08:14] imunro commented on #216
We are, as of 4.11 using FLIMReader, Bio-Formats is used to check all file-types first though.
I think I've improved the loading time situation ( it will still be slower than the FLIMReader equivalent for larger files though) but this won't be available until Bio-Formats 5.2.0.

[2016-04-20 08:17] seanwarren commented on #216
OK cool. I'm happy with to leave this as-is then.

[2016-04-20 08:17] #216 closed

[2016-04-20 08:54] imunro opened #217 "4.11RC still prompts me to upgrade to 4.10.3 ?"
At least on windows so far.

[2016-04-20 09:04] seanwarren commented on #217
Whoops - turns out I can't compare three numbers. Should be fixed as of 8b8282d081a79f79a29d71290b25de38eeeb780b

[2016-04-20 09:04] #217 closed

[2016-04-20 11:06] imunro commented on #217
I ought to do a full re-test but as I'm no longer officially working on FLIMfit we may have to go for the "fingers crossed" approach.

[2016-04-20 11:24] imunro commented on #214
Not of any relevance as   4.11 looks ok .

[2016-04-20 11:24] #214 closed

[2016-04-20 12:29] seanwarren commented on #217
It's only a new line, I'm sure it'll be fine...

[2016-04-20 19:33] imunro commented on #217
Moved the tags and started the release build.

[2016-04-20 19:47] imunro commented on #217
I fear mac-garvan may have fallen over again.

[2016-04-22 14:05] hflynn commented on #205
Misunderstanding here - the mtools downloads page links to mathworks just the same. We probably could host it though, I'd need to update the downloads page and script and get the MCR uploaded to our server. I'll look into it.

[2016-04-22 14:17] kennethgillen commented on #205
Two immediate questions:

1: is it legal to redistribute the MCR?
2: what are the implications of the intermittent drop-outs of the storage which backs downloads.o.org on any code depending on the existence of the MCR there? i.e. how often will it be pulled / if it's down, what happens.

[2016-04-22 14:19] gusferguson commented on #205
The licensing is a bit ambiguous:

MATLAB® Application Deployment Programs
5.1.1. MATLAB® CompilerTM. Licensee may use and distribute the MCR Libraries for the sole purpose of running Licensed User’s Application generated by the MATLAB Compiler. Licensee may deploy, at no cost, copies of such Applications that incorporate the MCR Libraries and compiled versions of M- les from the licensed Programs

[2016-04-22 14:20] gusferguson commented on #205
Re frequency - infrequent.

Perhaps we could have a link below:
The MCR also available for download from Mathworks site (very slow).

[2016-04-22 14:21] imunro commented on #205
In the light of Kenny's valid points I would suggest we either
a)  leave this until the next release
or
b) forget the idea - is Mathworks site really that slow considering users will only need a new MCR when we change Matlab versions ie once a year-ish?

[2016-04-22 14:23] gusferguson commented on #205
Yep it is **really** slow - 50 minutes on the Dundee network - that is a considerable barrier to getting started with FLIMfit I feel.

[2016-04-22 14:23] seanwarren commented on #205
Thanks @hflynn - I can also update where the windows installer gets the matlab mcr download from so let me know.

[2016-04-22 14:26] imunro commented on #205
@gusferguson Confirmed 40+ mins on IC's network also

[2016-04-22 14:27] imunro commented on #205
@seanwarren I would prefer not to make changes for this release at this point

[2016-04-22 14:28] hflynn commented on #205
I think we may be at cross-purposes here - the only thing *I* can change is where the MCR download buttons on the http://downloads.openmicroscopy.org/flimfit/ pages serves the file from. If the issue is the Windows installer *within* the FLIMfit windows download, I can't do anything about that.

[2016-04-22 14:30] imunro commented on #205
Sean was talking about changing the FLIMfit installer to install from the OME server rather than mathworks

[2016-04-22 14:30] gusferguson commented on #205
@hflynn - the URL the Windows installer uses can be changed, but doing that would expose us to the availablity issues Kenny raised.

[2016-04-22 14:31] hflynn commented on #205
Ah, ok, sorry, I've got the wrong end of the stick.

[2016-04-22 14:32] seanwarren commented on #205
Yup but if we can host the MCR on the OME servers I can update where the installer fetches the file

[2016-04-22 14:32] gusferguson commented on #205
Quite why Mathsworks doesn't facilitate the inclusion of the libraries in the application is another question!

[2016-04-22 14:36] hflynn commented on #205
We need someone with admin permissions to sort hosting the file for you, neither Gus nor I can do that. Will need to speak to @sbesson on Monday and as Ian says, probably a bit late for this release.

[2016-04-22 15:35] sbesson commented on #205
Understanding the legitimate usability issue albeit it is largely independent of our scope, I would agree with @kennethgillen's questions and I propose we defer any decision about mirroring external resources like the MATLAB MCR to our own website to future releases.

Many of the questions raised above (licensing, stable URLs, maintenance, availability etc) and maybe others are critical and we sho

[2016-04-22 16:30] imunro commented on #205
Agreed. To be clear. Definitely not for this release then.

[2016-04-25 10:57] imunro commented on #205
I happened to see a member of the Mathworks team over the weekend who "thought" that there may now be some lightweight versions of the MCR available for download (apparently the default one contains everything matlab uses e.g. CUDA)

[2016-04-25 11:13] seanwarren commented on #205
Hi all,

I've created two links on the flimfit server to the MCR downloads:
http://downloads.flimfit.org/mcr/MCR_R2015b_maci64_installer.zip
http://downloads.flimfit.org/mcr/MCR_R2015b_win64_installer.exe

They operate by HTTP 301 redirects so we can point them wherever we like. At the moment they are pointing to a mirror on google cloud storage but if that becomes a problem in the future we can p

[2016-04-25 11:17] imunro commented on #205
@seanwarren nor me - we were both drinking at the time ...

[2016-04-25 12:19] Powerfultool opened #219 "Out of memory error"
Hi all,

When trying to fit a single exponential past the peak (no loaded IRF) on a reference fluorophore (Coumarin 6) widefield time-gated dataset (for use as an IRF, so >600 gates...) works fine for a single decay, but when using Fit Dataset, there's an Out of memory error.

Same thing happens when I try to limit the data through the segmentation manager - I've managed to select an area of 12 pi

[2016-04-25 12:38] imunro commented on #219
This is apparent;y a Win7 machine with 16G of memory

[2016-04-25 12:52] seanwarren commented on #219
Could you send the dataset to me on Dropbox/file exchange please Sunil ? And also a screen shot of the error if possible.

[2016-04-25 13:08] seanwarren commented on #219
Cheers - could you try loading it through load dataset rather than as a single file please?

[2016-04-25 13:15] imunro commented on #219
I asked the same question - should we introduce a size test for switching on mem-mapping ?

[2016-04-25 13:28] seanwarren commented on #219
Cool I'll check it out tomorrow

[2016-04-26 02:01] seanwarren commented on #219
@Powerfultool - I'm having problems reproducing this, could you try with the latest version please?
https://storage.googleapis.com/flimfit-downloads/release/4.11.0/FLIMfit%204.11.0%20Setup%20x64.exe

[2016-04-26 07:39] seanwarren commented on #219
This only happens in the deployed version, but seems to be fixed by always enabling memory mapping. I doubt that the performance improvement loading a single image directly into memoery is worth it so I think this change should be fine

@Powerfultool : could you try this again with this fix please:
https://storage.googleapis.com/flimfit-downloads/merge/4.11.0-3-ge2499cb/FLIMfit%204.11.0-3-ge2499cb

[2016-04-26 09:58] imunro commented on #182
Finally released as v4.11.0 see http://lists.openmicroscopy.org.uk/pipermail/flimfit-users/2016-April/000036.html

[2016-04-26 10:19] seanwarren commented on #93
Closing as I'm pretty sure this is resolved now

[2016-04-26 10:19] #93 closed

[2016-04-26 10:20] seanwarren commented on #143
Closing as unable to reproduce

[2016-04-26 10:20] #143 closed

[2016-04-27 11:02] imunro commented on #159
I suspect that this may be related to #219

[2016-04-27 11:06] seanwarren commented on #159
Yes that sounds likely, nice catch

[2016-04-27 11:08] imunro commented on #159
I just e-mailed Ewan to suggest he follow this issue.

[2016-04-27 11:16] imunro commented on #159
Under Mac users

"Please also download the MCR for your platform below. “
should read

"You can download the MCR for your platform using the links above.”
Otherwise it looks good.

My main thought though is that the OME team have a big team setup to provide holiday/overnight cover
in the event of DOS attacks power outages etc  and you have a part-time Sean (ok I appreciate you’ve given up sleeping

[2016-04-27 11:18] imunro commented on #172
@Fredxxx Do you think you could right a sentence or two describing how to use this that we could put in the docs?

[2016-04-27 13:39] Sunil-Android commented on #219
Afriad I'm still running into the same problem (loaded as single file, single exponential fit of 3 pixels (using segmentation manager), works fine on one pixel, but not with fit dataset). I'll try it later on a different computer with more memory and see what I get

Out of memory. Type HELP MEMORY for your options.
Error in flim_dll_interface/call_fitting_lib (line 157)
Error in flim_dll_interface

[2016-04-29 16:20] imunro opened #221 ""Sorry the files could not be downloaded" when installing on Windows."
I am now getting this incredibly unhelpful error message when trying to install 4.11.0 on a variety of Windows machines.  It seems to apply both to the files from http://downloads.openmicroscopy.org/flimfit/4.11.0/  and  those from http://ci.flimfit.org/job/flimfit-release-win/gcsObjects/. This is baffling enough as these files were tested before release but on at leas one machine (Server R2012) I

[2016-04-30 00:52] seanwarren commented on #221
@imunro - looks like the ghostscript server structure has changed! I'm moving the ghostscript download to GatherDependencies.bat and bundling it into the installer

[2016-04-30 12:17] imunro commented on #221
Well-spotted! I couldn't work out what was going on. Microsoft being amazingly helpful here.
Guess we better get 4.11.1 out fairly quickly.
Shall I  send out a heads-up on FLIMfit & OME users ?

[2016-04-30 13:46] seanwarren commented on #221
I think I've almost got a fix working so let's wait til Monday and hopefully we can send an email with a new version

[2016-04-30 19:54] imunro commented on #221
OK FYI Monday is a bank holiday here so my time may be a bit limited.

[2016-05-02 02:42] seanwarren commented on #221
OK this should be fixed in 0d0871b7f3bb53abdee0147f5ac6820d9cd9d85d . I've tested locally and it seems to work well. Could you test as well please @imunro (build 88 on flimfit-latest-win) when you have time?

[2016-05-02 10:06] imunro commented on #221
Successfully installed on Win Server R2012 & passed a very quick fire-test.
Only issue was the following but IIRC this is an old issue & not relevant.

<img width="753" alt="screen shot 2016-05-02 at 11 03 16" src="https://cloud.githubusercontent.com/assets/1183110/14952142/d9434762-1055-11e6-94ce-ce0a3fe2b241.png">

[2016-05-03 08:02] imunro commented on #221
So what's the plan @seanwarren. Release via your new downloads page or as before?

[2016-05-03 17:27] sguldbra2 opened #222 "Can't export images"
[fit nanorod_1to100_exc628_em692_pexc15p8uw_pdep4mw_t30_1 tau_1 merge.pdf](https://github.com/imperial-photonics/FLIMfit/files/247377/fit.nanorod_1to100_exc628_em692_pexc15p8uw_pdep4mw_t30_1.tau_1.merge.pdf)

When I try to export images, they look strange. Please see attachment. Tif-files look thesame.

[2016-05-03 17:55] imunro commented on #222
I attempted to reproduce this with Stina's data on my Mac and I see the oversized colour bar ( I suspect this a a Matlab default as the images are small 64x64) but don't get any text on the resulting images.
I repeated it with larger images and get a normal looking colour-bar but still no text.

Hard to say which behaviour is better- after all adding your own text is annoying but easier than remov

[2016-05-03 19:39] FLIMinator opened #223 "cannot seem to segment more than 256 (8bit) cells when loading mask with more than this number."
Cannot segment more than 255 objects

[2016-05-03 20:57] seanwarren commented on #223
This is a design limitation ; the masks are stored as 8bit ints. How critical is this?

[2016-05-04 09:38] FLIMinator commented on #223
Hey Sean, I have a data set that involves segmenting nuclei and the count often exceeds 256 - more like 500 per image. I'd like to extract cell-wise lifetimes to get intercellular distributions and the plan is to use them in a paper I'm in the process of writing. If its possible to bump the number up to 16bit ints in the near future it would be massively appreciated. I can forsee this limitation b

[2016-05-04 10:25] seanwarren commented on #223
Cool I'll have a look into it
(who is this by the way?)

[2016-05-04 10:59] seanwarren commented on #223
OK was simpler than expected. Could you test the version below for me please?
It would be good if you could check that segmentation file loading/saving also works as expected.
If you're loading segmentation files from an external source, make sure they are saved as 16bit or higher tifs!

windows: https://storage.googleapis.com/flimfit-downloads/merge/4.11.1-3-g07c8a94/FLIMfit%204.11.1-3-g07c8a94%2

[2016-05-05 21:26] FLIMinator commented on #223
Thanks for this Sean,

Sorry late getting back to you, graduated yesterday and went to the
pub......

The mask works but when I fit it only fits what appears to be ~ 256
segments. I saved the image as uint16.

Please try the data, using the settings file within, I have provided if you
have time. I pulled an old FLIM image from PhD because the data for the
paper is over at Crick ( still visit to an

[2016-05-06 00:45] seanwarren commented on #223
Hi Hugh, no worries. I think I see the problem. Could you send the data to s.warren@garvan.org.au please? Attaching files to github doesn't seem to work by email. I'm thinking to set the limit to 4096 as there are some minor performance implications, does this seem reasonable to you?

[2016-05-06 07:46] seanwarren commented on #223
Hi Hugh, I haven't had time to test the changes but I think this one should work: https://storage.googleapis.com/flimfit-downloads/merge/4.11.1-4-g5aba48f/FLIMfit%204.11.1-4-g5aba48f%20Setup%20x64.exe . Let me know how you get on

[2016-05-06 08:56] FLIMinator commented on #223
Thanks Sean!

That works - I can generate results tables with 500 regions.

Thanks so much for the help/your time. Talk soon.

Cheers,

Hugh

On Fri, May 6, 2016 at 8:46 AM, Sean Warren <notifications@github.com>
wrote:

[2016-05-06 09:19] seanwarren commented on #223
Great, good luck with the paper. Catch you soon

[2016-05-06 09:19] #223 closed

[2016-05-06 09:22] seanwarren commented on #223
This will be released with 4.11.2

[2016-05-06 19:07] imunro commented on #219
It's just occurred to me (late on a Fri)  that the Bio-Formats Matlab Plugin  can throw memory errors if the Java Virtual Machine isn't assigned enough memory.

@Powerfultool do your errors look like the attached?
![image003](https://cloud.githubusercontent.com/assets/1183110/15083608/1765c632-13c6-11e6-92fd-3813075f94b4.png)

[2016-05-08 11:01] imunro commented on #219
@Powerfultool I just got this from the Matlab Documentation:
Most systems enable you to control the size of your swap file. The steps involved depend on your operating system.
    Windows Systems — Use the Windows Control Panel to change the size of the virtual memory paging file on your system. For more information, refer to the Windows help.

Could you have a look at the setting on your system p

[2016-05-08 13:03] imunro commented on #219
Looking at memory usage @seanwarren from what I can see when memory_mapping obj.data_series_mem isn't used after loading as data is copied directly into current data form the mapfile.
If this looks right could we clear it after loading completes?

[2016-05-08 22:45] #208 closed

[2016-05-08 22:46] #221 closed

[2016-05-08 22:46] #205 closed

[2016-05-09 09:09] imunro commented on #211
What we have so far (as of above PR) allows the Z or T to be overlaid as text in the Gallery tab so I feel that will do the job.

[2016-05-09 09:09] #211 closed

[2016-05-09 13:37] imunro commented on #222
It looks as if this might be resolved using an up-to-data export_fig. If so (testing now) then we may need to consider getting this from https://github.com/altmany/export_fig during the build.

[2016-05-11 13:59] imunro opened #230 "Images exported using File->Export Images lack text on El Capitan."
Posssibly also on other OSX versions TBC.
NB Originally noted in #222 but appears completely unrelated.

[2016-05-11 16:45] FLIMinator commented on #223
Thanks again Sean, see you soon hopefully.

On Fri, May 6, 2016 at 10:22 AM, Sean Warren <notifications@github.com>
wrote:

[2016-05-12 11:16] imunro commented on #222
Addressed (rather crudely sadly) by the above commit.

[2016-05-12 11:16] #222 closed

[2016-05-12 11:18] imunro commented on #230
A couple of things were tried to address this.

Updating the mac version of Ghostview to 9.1.9 didn't address the problem.
Nor did using the 'nofontswap' option in export_fig.

[2016-05-12 12:26] alibhaid opened #231 "Fit gaussian IRF tool"
Hey Sean,

I tried the fit guassian tool, but I get the following error..

Error using FitGaussianIRF
Too many output arguments.

Error in front_end_menu_controller/menu_tools_fit_gaussian_irf_callback (line 1157)

Error in front_end_menu_controller>@(varargin)obj.menu_tools_fit_gaussian_irf_callback(varargin{:})

Error in escaped_callback (line 7)

Error in front_end_menu_controller>@(x,y)escaped

[2016-05-12 13:31] imunro commented on #101
As my time on this project is now over - I guess this isn't going to happen.

[2016-05-12 13:31] #101 closed

[2016-05-12 14:23] imunro commented on #230
Now confirmed as an El Capitan only issue.

[2016-05-17 09:13] seanwarren commented on #231
Hi Dom,

Cheers - I think I was messing around with this just before the release. It should be sorted in the next release.

Cheers
Sean

[2016-05-17 10:31] alibhaid commented on #231
Hey Sean,

No worries!
Dom

---
Dr Dominic Alibhai
Wolfson Bioimaging Facility,
University of Bristol,
Bristol BS8 1TD
United Kingdom

On 17 May 2016 at 10:13, Sean Warren <notifications@github.com> wrote:

[2016-05-19 10:44] imunro commented on #230
A work-around is to export to .pdf which has the text visible.
Note that
1) an updated version of tight_subplot is available from the Matlab file exchange.
2) The mac Ghosscript included in FLIMfit is currently very old.
3) Current versions of export_fig are available from https://github.com/altmany/export_fig

Updating seems non-trivial as the tight-subplot interface is now very different.
@seanw

[2016-05-19 10:49] seanwarren commented on #230
Hi Ian, I get the feeling I might have - can you wait a bit for this? I'm most of the way towards a better way of exporting imaging but need a few clear days to get it sorted

[2016-05-19 12:32] imunro commented on #230
Hi Sean
No rush at all now that I've found a work-around.
I just wanted to record what I've discovered so far, somewhere, as it's so unclear how much involvement I'm going to have from now on.

[2016-05-19 12:35] seanwarren commented on #230
Nice one, cheers Ian

[2016-05-19 12:37] imunro commented on #230
Oddly export-fig seems to work perfectly in isolation (both new and old versions) which is why I started looking at updating tight_subplot - which turned out to be non-trivial.

[2016-05-19 14:30] natandrews opened #232 "Load FLIM dataset error, crashes halfway through loading using 4.11.1"
Subscripted assignment dimension mismatch.

Error in flim_data_series/load_flim_cube (line 330)

Error in flim_data_series/load_selected_files (line 91)

Error in flim_data_series/load_multiple (line 126)

Error in flim_data_series/load_data_series (line 150)

Error in flim_data_series_controller/load_data_series (line 105)

Error in front_end_menu_controller/menu_file_load_widefield_callback (lin

[2016-05-19 15:19] imunro commented on #232
Hi is it possible one image is a different size in any dimension? There should be checks but maybe something slipped through. If not can you point me at the data please?

[2016-05-19 16:19] natandrews commented on #232
It could be possible… It does always stop in the same place but other than going through all the folders manually I’m not sure how to find out? The data is here:
/Volumes/fogim_datastore/User data/Natalie Andrews/May/renamed data for flimfit

From: imunro <notifications@github.com<mailto:notifications@github.com>>
Reply-To: imperial-photonics/FLIMfit <reply@reply.github.com<mailto:reply@reply.gith

[2016-05-19 21:19] imunro commented on #232
Thanks I'll try and have a look tomorrow.

[2016-05-20 12:49] imunro commented on #232
Hi Natalie  I'm trying to load subsets of your data to see if I can pin down the problem.
I had no problems loading Fish2 but after loading I did get the following:

Error using circshift
Invalid shift type: must be a real finite integer vector.

I don't suppose you have any idea what might be causing that?

Error in flim_data_series/compute_tr_data (line 92)
        t_inc_perp = circshift(t_inc,[

[2016-05-20 14:46] imunro commented on #232
It turns out that the above error is generated when you load any of your data -( I can get it loading a single image via File-> Load Data) and that it's because there are no delays associated (they are all NaNs). This suggests that your file names do not adhere to the convention for tiff-stack data. I suggest renaming so that the names match a known-working data set.
e.g INT_002300 T_01000.tif

[2016-05-20 14:58] imunro commented on #232
I've had a quick look and it looks as if the "T_"bit  might be critical and that the last 6 chars should contain the delay.

[2016-05-20 15:27] imunro commented on #232
I've added some code to make it fail a bit more elegantly when it can't recognise filenames. Commit cb4ba5a

[2016-05-20 15:27] #232 closed

[2016-05-23 12:21] natandrews commented on #232
Sorry I missed all of this, I was imaging all day! I’ll try this but if it applies to all of my data will it still have problems?

From: imunro <notifications@github.com<mailto:notifications@github.com>>
Reply-To: imperial-photonics/FLIMfit <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, 20 May 2016 at 16:27
To: imperial-photonics/FLIMfit <FLIMfit@noreply.github.com<mailto:FL

[2016-05-23 12:57] imunro commented on #232
Hi Nat

The extra bit of code that I added won't kick in until the next release so 4.11.1 will still crash I'm afraid.
I'm afraid that I didn't quite follow "if it applies to all of my data will it still have problems?"?

[2016-05-31 07:28] Fredxxx opened #235 "wrong input of IRF shift crashs FLIMfit"
Hey,

if your input for an IRF is "--1500" FLIMfit is crashing (see Error Report below). Would be nice if it just tell you the inout is wrong without crashing.

Error using griddedInterpolant
The coordinates of the input points must be finite values; Inf and NaN are not permitted.

Error in interp1

Error in flim_data_series/get_roi (line 398)

Error in flim_dll_interface/call_fitting_lib (line 56

[2016-05-31 07:33] Fredxxx opened #236 "Refernce dye and IRF"
Hey,

if I am loading a reference dye image and an IRF I can estimate the IRF shift and do everything as long as I am using "fit selected decay". If I want to use "fit dataset" FLIMfit is always crashing, the error is reproducable.
I have a Coumarin6 and an IRF image you could try if you cannot reproduce the error.

Best wishes
Frederik

[2016-05-31 08:15] Fredxxx opened #237 "Autoscale is not working"
Hey,

the autoscale in the "Plotter" tab is not working properly. Often the min and max values from the autoscale are far away (1-2 orders of magnitude) from the values.

Best wishes
Frederik

[2016-05-31 09:11] imunro commented on #237
Hi Fred. I'll have a look when I get back. I'm at a meeting all this weekI'm afraid.

[2016-05-31 11:05] seanwarren commented on #237
@fredxxx,  the autoscale uses the 5th and 95th percentile of the data so if you have >5% poorly fitted pixels the autoscale can take extreme values. I would suggest applying a more stringent threshold to the data. If this is a recurrent problem I could potentially make the percentile used a user defined option. Cheers Sean

[2016-05-31 11:07] seanwarren commented on #235
@fredxxx,  where are you entering this value? Thanks

[2016-05-31 11:12] seanwarren commented on #236
@fredxxx so you're having a problem fitting a shift with a reference irf or a scatter irf? Please could you send me the data and if possible the exact steps I need to reproduce to s.warren (at) garvan.org.au

[2016-05-31 12:13] Fredxxx commented on #235
Sorry I meant "IRF" -> "IRF shift" of "--1500". I am aware that two minuses do not make any sense but things like that happen accidentially and it would be nice if FLIMfit would not crash. Just remind you the inout is wrong or prohibits such an input.

[2016-05-31 12:15] seanwarren commented on #235
Ok cool. Can I check if you get a 'hard' crash here or just an error message?

[2016-05-31 12:16] Fredxxx commented on #237
For plate data you are just looking at mean values. Isn't it possible to set it to the range of the mean values displayed? If you have one odd FOV it is messing up the nice outline.
This isn't crucial, just a bit anoying sometimes.

[2016-05-31 12:18] Fredxxx commented on #235
It freezes and the error message above occurs. If I close the error message it is still frozen. So it is not really crashing, more freezing. Thanks

[2016-05-31 12:23] seanwarren commented on #235
Ok cheers I'll add some error handing here pl

On Tue, May 31, 2016 at 5:18 AM -0700, "Fredxxx" <notifications@github.com<mailto:notifications@github.com>> wrote:

It freezes and the error message above occurs. If I close the error message it is still frozen. So it is not really crashing, more freezing. Thanks

—
You are receiving this because you commented.
Reply to this email directly, view it o

[2016-05-31 12:24] seanwarren commented on #237
Ah ok I see, that makes sense.  Perhaps we can have an option for this, as that would make the images on strange, but I'll see if I can sort something

[2016-05-31 12:37] imunro commented on #235
Sean I can probably look at that in the background while at the meeting if you want. Just let me know.

[2016-06-07 17:39] Powerfultool opened #239 "Error on loading SV IRF"
Error using vertcat
Dimensions of matrices being concatenated are not consistent.

Error in flim_data_series/compute_tr_irf (line 226)

Error in flim_data_series/set.t_irf_min (line 687)

Error in flim_data_series/load_irf (line 111)

Error in front_end_menu_controller/menu_irf_image_load_callback (line 971)

Error in front_end_menu_controller>@(varargin)obj.menu_irf_image_load_callback(varargin{:

[2016-06-07 23:23] seanwarren commented on #239
Could we have a bit more information about when this occurred? Can you send me the problematic data please

[2016-06-09 17:05] imunro commented on #235
Solved by above commit

[2016-06-09 17:05] #235 closed

[2016-06-09 21:00] seanwarren commented on #235
Nice one, cheers Ian

[2016-06-09 21:13] imunro commented on #235
Not much time allowed to work on FLIMfit at the moment but I had a spare haff-hour.

[2016-06-10 16:57] imunro commented on #237
It looks as if #173 may be related.

[2016-06-13 07:29] seanwarren opened #241 "Pol resolved IRF shifting only works with equally sampled IRF"

[2016-06-13 08:51] imunro commented on #241
Nice work Sean. Maybe we should think about a 4.11.2 release. There's a fair amount in there now?

[2016-06-16 12:25] gchennell opened #242 "Gallery view at full or custom resolution functionality."
Can we increase some options for saving gallery view of images?
When I fit a dataset and create a gallery view I can export a file the size of the image on the screen.

![phenformin in 3dw_mean_tau jpeg](https://cloud.githubusercontent.com/assets/7990390/16116528/617f20dc-33c5-11e6-9f27-0dad8c4e1e5f.jpg)

Which I can obtain about 500-600 width/height pixel image.
It would be really lovely to be ab

[2016-06-16 12:43] imunro commented on #242
Thanks George. @seanwarren did you say you were re-working the whole area of image export as, if so, there's not much point in me tackling this?

[2016-06-17 11:09] imunro commented on #242
@gchennell I'm not sure what you're trying to achieve here George. Taking your example which is 6 images wide - if we guess that each image is 512 x512 the then the full resolution image would be well over 3000 pixels wide. That's more than twice the size of the (pretty high res) display on my laptop.
Can I ask what you need these images for ?

[2016-06-17 11:16] seanwarren commented on #242
Publications!

I'm working on improving the functionality here George, will be a little while but I'll let you know when I have something to test. Cheers

[2016-06-17 11:24] imunro commented on #242
Paper - I'm guessing, has an even lower resolution.

[2016-06-17 11:27] seanwarren commented on #242
Journals normally want 300dpi so full width A4 is around 2500px. I guess if you have the resolution bit of a shame to throw it away.

[2016-06-17 12:19] imunro commented on #242
Hmm - would never have guessed it was that high.

[2016-06-17 16:13] gchennell commented on #242
@seanwarren for Publications or posters.
On 17 Jun 2016 12:10, "imunro" <notifications@github.com> wrote:

[2016-06-18 10:48] imunro commented on #236
@Fredxxx Sorry but could you please send me the data & required steps as well.

[2016-06-18 12:11] Fredxxx commented on #236
@imunro just send you an email or you can pick them up with at the fileshare webpage (Claim ID: wm7uZjyy7N7FsffX
Claim Passcode: C8sJpWe6a3RSyma6)

[2016-06-18 20:07] imunro commented on #236
Thanks Fred. Much appreciated.

[2016-06-20 15:02] imunro commented on #236
@Fredxxx  With your data you give the steps as:

1. Load IRF
2. Load IRF background
3. Create IRF shift map
4. Load Coumarin
5. Load Coumarin background
6. Fit selected decay is working perfectly
7. Fit data set -> crash

Is there a zeroth step of Load Data & if so which file is that ?

[2016-06-22 11:17] imunro opened #244 "Load tvb seems to be broken."
Spotted during debugging for #236. In the call to load_flim_cube the parameters appear to be in the wrong order - causing a problem down the line.

[2016-06-22 11:19] imunro opened #245 "Cancel button isn't enabled in load_background"
Spotted during debugging of #236. When asked to select a time-bin to use as a background the user is forced to make a selection.

[2016-06-22 11:30] imunro opened #246 "Compute_tr_data called twice at end of load_background."
Spotted during debugging of #236 compute_tr_data is called explicitly in load_background but is also called when background_type is set.
This causes an extra delay which can be significant for large files.

[2016-06-22 11:37] imunro commented on #236
So far I've found quite a few issues in background loading. See above.
The main problem I'm seeing though is that , because your files are ~40 times bigger than anything we've used for testing, FLIMfit is "hanging" for long periods without any UI feedback.
I'm adding some extra waitbars to make things clearer.

[2016-06-22 16:35] imunro opened #248 "Compute_tr_data called twice in init dataset"
Found during debugging of #236. As in #246 setting type_background and then (expilicitly) compute_tr_data means that  the latter is called twice causing a long delay with v.large files.

[2016-06-22 16:45] imunro commented on #248
@seanwarren When you get some time I'd really appreciate a sanity check on this one - it's a critical part of the code and one  I've stayed away from changing in the past.

[2016-06-22 17:27] imunro commented on #236
@Fredxxx I've made a number of changes to, fix some busg, speed things up a bit and to indicate to the user when FLIMfit has gone away to "think". Having done all that I can't get it to crash.
This might be because I haven't got your workflow right or it could be because you need to press some buttons while FLIMfit is "thinking" in order to crash it. Could you try the version below please & see if

[2016-06-22 20:03] imunro commented on #248
Actuallt @seanwarren scratch that for now! It looks as if it's more complicated than I realised. Leave it with me for a bit.

[2016-06-22 23:45] seanwarren commented on #248
@imunro - compute_tr_data shouldn't be called twice in the initialisation; no transformation happens until the the `init` flag is set at the end of the initialisation.

[2016-06-23 08:23] imunro commented on #248
The issue seems to be that a lot of variables have change listeners each of which call compute_tr_data.
So as init_dataset sets the variables it gets called many times. I'll check on that flag.

[2016-06-23 13:35] imunro commented on #248
Thanks for the hint  I get it now. It gets called a lot but just returns until the init flag is set.
Closing this accordingly.

[2016-06-23 13:35] #248 closed

[2016-06-24 15:29] imunro commented on #203
While testing I just spotted that I have inadvertently replaced obj. with obj(comma) in two lines.

[2016-06-24 15:45] imunro commented on #203
In fixing the above - I have noticed that the variable path in menu_file_load_widefield_callback  & menu_file_load_tcspc_callback is not set. This hasn't been a problem before so presumably default_path  is being changed.

@seanwarren I'm tempted to just delete the section:
if strcmp(obj,default_path,obj.platform_default_path)
                    obj.default_path = path;
 end

Can you think of any

[2016-06-29 23:26] seanwarren opened #249 "View results from particular pixels in the image"
Request by email: It would also be nice if could see the fit results of individual pixels in the parameters tap. I mean if you click somewhere in the fluorescence intensity image that you don’t only see the decay and the fit for that pixel, but also the values used for the fit. Extracting this information from the beta images is of course also possible, but a lot of hassle if you are not a program

[2016-07-12 10:00] seanwarren commented on #231
Fixed by PR#250

[2016-07-12 10:00] #231 closed

[2016-07-13 01:30] seanwarren commented on #203
HI Ian - I'm actually tempted to always set the default path to the path used when loading data. I think this might save people quite a bit of time?

What do you think?

[2016-07-13 06:12] #241 closed

[2016-07-13 08:21] imunro commented on #203
Certainly I can't see why not. default_platform_path is just for use when no data has yet been loaded which should only be an issue when users make errors.

[2016-07-20 17:37] imunro opened #252 "Unformatted names in tiff stack are no longer correctly parsed."
As reported by Romain.

[2016-07-23 12:05] #246 closed

[2016-07-23 12:06] imunro commented on #252
Fixed by above commit.

[2016-07-23 12:06] #252 closed

[2016-07-23 12:07] #245 closed

[2016-07-23 12:07] #244 closed

[2016-07-23 12:12] imunro commented on #203
I've postponed this to 4.11.3 as what we have has been fine for a long time.
Then I suggest copying the OMERO-side functionality of having read and write path set to wherever data was last read from or written to. May also be worth having a file-side https://github.com/imperial-photonics/FLIMfit/blob/master/FLIMfitFrontEnd/Classes/%40OMERO_data_series/prompt_for_export.m   so that the front-endmen

[2016-08-08 09:18] ilyaradko opened #254 "Errors on loading FLIM data"
I have version 4.9.1, which used to work fine. I have not been using it for several months, and now when I try to load FLIM data (which I successfully did before), FLIMfit gives the following errors in the console:

What could have changed in my system that broke functionality of FLIMfit and is there a way to troubleshoot? I tried reinstalling both FLIMfit and Matlab compiler runtime without succe

[2016-08-08 09:42] seanwarren commented on #254
Hi @ilyaradko, could you please let me know which version you're using?
I've just tested the previous data you send to me in the latest version and it seems to load ok.

Thanks

[2016-08-08 09:58] ilyaradko commented on #254
Hi @seanwarren. The described issue is with version 4.9.1.
I have also tried versions 4.11.0 and 4.11.1 - they do load data files, but show some nonsense. In case of  4.11.0 and 4.11.1, the console gives the following output:

It seems to be a problem of my particular environment, and not of the FLIMfit. So I am wondering what could have happened that FLIMfit stopped working and reinstalling it do

[2016-08-09 07:57] ilyaradko commented on #254
It seems that Java Development Kit, which I recently installed on my PC, was somehow conflicting with FLIMfit installtion. I reinstalled both JDK and JRE, which solved the problem.

[2016-08-09 07:57] #254 closed

[2016-08-09 08:21] seanwarren commented on #254
I'm glad you've resolved this - I'll keep this in mind in case some one else encounters the same problem! Cheers, Sean

[2016-08-15 13:20] elizabethnoble0714 opened #255 "clarification regarding errors returned by the fit results"
[point probe sample fit result.xlsx](https://github.com/imperial-photonics/FLIMfit/files/418093/point.probe.sample.fit.result.xlsx)

I'm attaching the exported fit results table from single point TCSPC spectral measurements. Trying to figure out how to obtain errors in the fitted model itself.

could you please clarify what's the difference between err_l - tau_1(cell DB1 in the doc attached) and e

[2016-08-16 07:20] seanwarren commented on #255
Hi Elizabeth,

err_u and err_l are respectively the upper and lower 95% confidence intervals for the fit. You can change the percentile in Preferences (Tools menu).

Let me know if you need more information

Cheers
Sean

[2016-08-24 21:34] imunro commented on #174
Solved by 4.11.2

[2016-08-24 21:36] #255 closed

[2016-09-09 08:37] Fredxxx opened #261 "Version 4.11.2 GUI not displayed fully"
Hey Sean and Ian,

if I am opening FLIMfit Version 4.11.2 not all buttons are visible in the GUI. I can load images and do simple stuff. But not a proper analysis. I have the same issue with version 4.11.1. So I am not sure if my system is the problem or not. I am remote desktop to terminal six from a Windows 10 operating system. There are a lot of errors in the command prompt when I am opening Ve

[2016-09-09 10:30] seanwarren commented on #261
Hi Fred,

This is a know bug with win 10, hopefully will be fixed soon!

Cheers
Sean

On Fri, Sep 9, 2016 at 6:37 PM +1000, "Fredxxx" <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey Sean and Ian,

if I am opening FLIMfit Version 4.11.2 not all buttons are visible in the GUI. I can load images and do simple stuff. But not a proper analysis. I have the same issue with version

[2016-09-09 14:09] imunro commented on #261
@seanwarren Do you recent display mods address this? If so perhaps we should release a 4.11.3 ?

[2016-09-09 15:03] imunro commented on #261
That's odd! Fred & I just tried remote desktopping from a Windows 8 machine & got the same error.
However remote desktopping from my Mac everything looks fine !!

[2016-09-14 21:00] imunro commented on #261
Seems to be solved for upcoming 4.12

[2016-09-14 21:00] #261 closed

[2016-09-16 12:16] imunro opened #262 "Error on pre-release testing for 4.12.0"
Fitting a bi-exp pix-by-pix to the standard "Convalaria' test image on a mac
 gives the error below.

@seanwarren this is reproducible running locally  from source so I can try and fix or would you prefer to handle it ?

Warning: Error occurred while executing callback:
Error using matlab.graphics.axis.Axes/set
While setting the 'Position' property of 'Axes':
Width and height must be > 0
Error in

[2016-09-17 11:03] Fredxxx opened #263 "Loading plate data with version 4.11.2"
Hey,

when I am using the version Sean sent me (4.11.2-14-g73a5395) I cannot load plate data. The loading bar occurs and I think it is loading all of the data. But close before it is reaching the 100% the error message below occurs. This is reproducible and I tried two different data sets. The data set is not bigger than the usual data sets analysed before.
Additionally, the error (#236) reported

[2016-09-17 11:08] imunro commented on #263
Hi Fred that looks at first glance like a disk space issue.

[2016-09-17 11:44] Fredxxx commented on #263
Agree, because I cannot load it with version 4.9.2 either.

Just checked that Stina is using 20GB and as906 (who is that?) 26GB of memory of terminalSix. Nevertheless, I should have around 10GB free and my data is smaller than 3GB. Is FLIMfit checking if it does have enough space for the calculation or why is that?
It would be great if a nice error message would pop up telling you the memory is no

[2016-09-17 11:52] imunro commented on #263
FLIMfit copies the data to a temporary file for processing and it looks like it can't create a large enough temp file as there isn't enough free disk space. Can you delete some files from c:   ?? Yeah a better error handling would be nice- I'll have a look next week if I can.

[2016-09-17 12:00] Fredxxx commented on #263
Got it, year I will try to make some space in C:. Thanks!

[2016-09-17 12:03] imunro commented on #263
I'm guessing here so let me know if it doesn't work.

[2016-09-17 12:25] Fredxxx commented on #263
Absolutly correct. Everything is working now, thanks.

[2016-09-17 12:30] imunro commented on #263
Keeping this one open to remind me to add better error handling.

[2016-09-19 16:30] imunro commented on #236
It looks as if this one remains unresolved. I now have some test data and an "incantation" that reiably reproduces the fault on terminal6. (see attached errpr file)  Unfortunately , even with this, I can't  reproduce the issue on the Mac. Everything is fine even using the built version.
@seanwarren I'm guessing that you're better set up than me for back-end debugging on Windows,. If I send the dat

[2016-09-19 16:51] imunro commented on #236
Just in case you do have the time to look at this the "incantation" is below:
NB not all steps may be needed to cause crash (needs further testing to establish that )

1) Load Coumarin.ome.tif
2) Load Coumarin_BG.ome.tif as a background (default 3rd time-bin)
3) Load shiftmap.xml as an irf.
4) Set binning 'none'. rep rate 40, irf shift to -1062
5) Fit dataset. N/B. Fit selected decay seems fine.

[2016-09-20 04:18] #262 closed

[2016-09-20 04:20] seanwarren commented on #236
I'll have a look and let you know

[2016-09-20 05:27] seanwarren commented on #236
@Fredxxx - does this happen any time you use a SV IRF or just on this dataset?

Cheers
Sean

[2016-09-20 06:53] Fredxxx commented on #236
Hey Sean,

this happinging everytime I am using a SV IRF on the reference dye. If I am loading a full data set (platereader with lots of FOVs) it is not crashing.

Best wishes
Frederik

[2016-09-20 07:27] seanwarren commented on #236
Hi Fred,

I think it might have something to do with the very large number of gates, could you please send me some dye data with a smaller number of gates?

[2016-09-20 08:19] imunro commented on #262
Thanks Sean sorry to dump so much work on you yesterday.

[2016-09-23 08:45] imunro commented on #236
Hi Fred

It only just occurred to me but as a work-around would it be possible to do this part of your processing on a Mac?

[2016-10-03 17:16] Powerfultool opened #266 "Segmentation manager problem - incorrectly saved IRF shift map xml (transpose IRF)"
This happens after loading a (previously-fitted) folder of FLIMimages, then running the segmentation manager produces this error. Selecting the menu item again will open the manager, allow you to run a segmentation operation on a single image ok, but it falls over when trying 'segment all'
#

Error using vertcat
Dimensions of matrices being concatenated are not consistent.

Error in flim_data_seri

[2016-10-04 08:43] imunro commented on #266
Can I ask what FLIMfit  version you are using?

[2016-10-04 09:18] Powerfultool commented on #266
4.12.0, on terminalsix

From: imunro [mailto:notifications@github.com]
Sent: 04 October 2016 09:44
To: imperial-photonics/FLIMfit
Cc: Kumar, Sunil; Author
Subject: Re: [imperial-photonics/FLIMfit] Segmentation manager problem (#266)

Can I ask what FLIMfit version you are using?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://githu

[2016-10-04 09:20] imunro commented on #266
Thanks Sunil

[2016-10-04 15:02] imunro opened #267 "Look at replacing mem-mapping with tall arrays."
See
https://uk.mathworks.com/help/matlab/examples/analyze-big-data-in-matlab-using-tall-arrays.html

[2016-10-04 21:38] seanwarren commented on #267
These look interesting but I'm not sure they will work for us - the nice thing about memory mapped files is both the front and back end can access at the same time without any transfer overhead. Also we have very predictable memory access so I think it's probably more efficient to handle the mapping ourselves

[2016-10-05 08:20] imunro commented on #267
Good point. I'd forgotten that. Interesting feature though.

[2016-10-05 08:20] #267 closed

[2016-10-05 16:22] imunro opened #268 "Feedback on 4.12.0 from cam.ac.uk"
2016-09-21
Testing conditions
Testing FLIMfit 4.12.0 on Windows 7 machine. Tiff dataset from TG-FLIM.

Nice to have’s
-	If I have some data loaded and press open a new file (Ctrl +O , or others), the currently loaded dataset disappears straight away so if I change my mind and click cancel in the new window and go back to the current dataset, it’s all gone. It can be annoying if large dataset have

[2016-10-06 11:57] imunro opened #270 "Investigate libtiff."
See if using this directly (as in https://github.com/DylanMuir/TIFFStack) can offer speed improvement over Imread for our tif-stacks. May help with slow-loading of OPT.

[2016-10-14 16:38] imunro opened #272 "Unusable segmentation controller."
On a mac most of the segmentation controls are inaccessible.

[2016-10-16 18:39] imunro commented on #266
I've been trying this dataset  smb://ph-nas-04.ph.ic.ac.uk/fogim_datastore/User data/Sunil Kumar/BBSRC platereaders 2015/Raw data/2016-09-30 - Bromodomain plate/Data/Sequenced FLIM acquisition 2016-09-30_18.19.37   and on the mac everything seems fine. Sadly I can't confirm on Windows as t6 doesn't have enough disk space to load this, however I have been able to load & segment a couple of wells wi

[2016-10-18 11:53] imunro commented on #266
Having finally managed (with help from Sunil) to find a way of reproducing this - it turns out to be unrelated to segmentaion but an irf issue!

The problem is in the lines below:
https://github.com/imperial-photonics/FLIMfit/blob/8bd0eef06bfb47139c46b0237615fecf2cbe72cf/FLIMfitFrontEnd/Classes/%40flim_data_series/compute_tr_irf.m#L218-L230

which fail if obj.tr_irf isn't a column vector.
In the c

[2016-10-19 08:26] imunro commented on #270
Turned out to be slower.

[2016-10-19 08:26] #270 closed

[2016-10-19 08:31] imunro commented on #266
FYI @seanwarren I've checked the .xml and the irf is a row there as well.
Any thoughts on whether to throw an error when on loading  ? Or is this expected?

[2016-10-19 11:29] imunro commented on #174
Re-opened as these changes have been reverted due to ongoing issues with the segmentation GUIDE caused, apparently, by the extra tickbox added here. See #272

[2016-10-19 11:30] imunro commented on #272
Fixed by reversion. It's unclear why it doesn't seem possible to edit this GUIDE using matlab and get predictable results. Possibly a complexity threshold has been passed or some mismatch of java versions. As a result of this reversion #174 has been re-opened.

[2016-10-21 10:11] ilyaradko opened #275 "Bug in loading 1D lifetime scans from PicoQuant"
Hello

There is a bug in loading 1D scans from PicoQuant's pre-histogrammed Image Data File. I am using FLIMfit version 4.12.0.

There is one bug and two related issues:
1. The problem occurs with files that have only 1 pixel along y-direction, i.e., only one line of lifetime scan. Trying to load such files, results in an Error in FLIMfit with the message as shown in the attachment file `bug_repor

[2016-10-21 11:19] imunro commented on #275
Hello

Thanks for reporting this. Can I ask if these are binned files (typically with a .bin suffix)?

[2016-10-21 11:20] ilyaradko commented on #275
Yes, they are .bin files in this format:
http://www.tcspc.com/doku.php/glossary:pre-histogrammed_image

[2016-10-21 11:37] imunro commented on #275
Thanks I'll have a look and get back to you shortly.

[2016-10-21 20:34] imunro commented on #275
My apologies for the problems. Could you possibly try one of the beta versions from https://storage.googleapis.com/flimfit-downloads/latest/4.12.0-9-g5931635/FLIMfit_4.12.0-9-g5931635_MACI64.zip or https://storage.googleapis.com/flimfit-downloads/merge/4.12.0-9-g5931635/FLIMfit%204.12.0-9-g5931635%20Setup%20x64.exe , depending on your platform, and see if this addresses any of the issues that you

[2016-10-24 17:24] imunro commented on #266
On further investigation I'm beginning to get some idea of what's happening. When a .xml file is created using "create irf shift map" it seems to store data generated by  generate_t0_map see https://github.com/imperial-photonics/FLIMfit/blob/181f35759161f774ee2fc703c47312e6bb37dbca/FLIMfitFrontEnd/Classes/front_end_menu_controller.m#L1124

This data contains a field "t_irf" which , I think, is unr

[2016-10-25 07:27] ilyaradko commented on #275
Sorry for the delay, @imunro.
No, unfortunately, it does not address any of the issues. The only difference is that this beta gives error for 1D scans along y-direction, while version 4.12.0 gives error for 1D scans along x-direction.

[2016-10-25 08:41] imunro commented on #275
Sorry to have wasted your time. In that case could I please ask you to  to upload examples of the failing files  to https://www.openmicroscopy.org/qa2/   along with a brief description of the problem in the feedback field. Many thanks.

[2016-10-25 08:58] ilyaradko commented on #275
Sure. I created a feedback with ID 17394.

[2016-10-25 09:18] imunro commented on #275
Thanks.I can see them. I'll report back as soon as I work out what's going wrong.

[2016-10-27 12:09] imunro commented on #275
@ilyaradko Sorry for the delay in replying, this turned out to be quite complex.  I think I now have the basic functionality working with these files although some work remains on the graphics. When you have some time, could I please  ask you to try one of the beta-versions from the links below and see if I'm heading in the right direction.  Many thanks.    https://storage.googleapis.com/flimfit-d

[2016-10-27 12:12] imunro commented on #272
Re-opening as not yet merged.

[2016-10-27 13:30] ilyaradko commented on #275
@imunro Thank you for looking at that. You are definitely heading in the right direction. This beta version opens correctly 1D files and also slightly larger ones ( I checked data files with dimensions 200x10 pixels). However, when I try to load a large file 250x250 pixels, the data are again transposed, exactly as in version 4.12.0, whereas version 4.9.1 shows that large file correctly.

[2016-10-27 15:46] imunro commented on #275
Thanks for spotting that. I think I know what I did wrong.

[2016-10-27 17:20] imunro commented on #275
Hopefully this is better. I'm afraid I won't get back to this till next week now https://storage.googleapis.com/flimfit-downloads/latest/4.12.0-15-gb3aa463/FLIMfit_4.12.0-15-gb3aa463_MACI64.zip              https://storage.googleapis.com/flimfit-downloads/merge/4.12.0-15-gb3aa463/FLIMfit%204.12.0-15-gb3aa463%20Setup%20x64.exe

[2016-10-28 09:41] ilyaradko commented on #275
@imunro This version seems to work correctly. Thank you.

[2016-10-28 11:12] imunro commented on #275
Thanks for all the help. I'll try and get these changes merged and release a v4.12.1 as soon as I can. Would it be ok to acknowledge your assistance in the the release announcement?

[2016-10-28 11:28] ilyaradko commented on #275
Sure, I don't mind :) Thank you too for fixing this.

[2016-10-28 13:23] imunro commented on #266
Looking at https://github.com/imperial-photonics/FLIMfit/blob/181f35759161f774ee2fc703c47312e6bb37dbca/FLIMfitFrontEnd/Classes/%40flim_data_series/generate_t0_map.m#L171-L176
it looks as if my comment above was wrong and the t_irf in the .xml file is typically data_series.t_irf.  In which case the question  now becomes - did @Powerfultool have an irf loaded when the ,xml was created?

[2016-10-28 17:01] imunro commented on #266
So it looks as if the problem is the irf saved with the shift_map when no IRF is loaded. (See above commit.) The obvious work-around , in the meantime, is to explicitly set an irf before creating the shift map.  @powerfultool do you think you could try that ,when you have time, and see if you still have segmentation issues?

[2016-10-31 13:53] imunro commented on #266
I've just spotted a potential issue with, at least my copy of @Powerfultool 's data. There seems to be one file that Bio-Formats recognises as a .tiff not an ome-tiff.  FLIMfit is not currently handling this situation well.

[2016-10-31 17:54] imunro opened #279 "Possible problem when using Global Variable - "Row""
Warning: Error occurred while executing callback:
Matrix dimensions must agree.
Error in flim_fit_controller/filter_table_updated (line 95)
Error in flim_fit_controller/update_filter_table (line 391)
Error in flim_fit_controller/fit_complete (line 56)
Error in flim_fit_controller>@(varargin)obj.fit_complete(varargin{:}) (line 141)
Error in flim_dll_interface/update_progress (line 46)
Error in flim

[2016-10-31 18:31] imunro commented on #279
@Powerfultool do you need this functionality urgently ?

[2016-11-01 10:27] Powerfultool commented on #279
It’s not super urgent – would be nice to have, basically (assuming it’s doing what I think it is)

From: imunro [mailto:notifications@github.com]
Sent: 31 October 2016 18:32
To: imperial-photonics/FLIMfit
Cc: Kumar, Sunil; Mention
Subject: Re: [imperial-photonics/FLIMfit] Possible problem when using Global Variable - "Row" (#279)

@Powerfultool<https://github.com/Powerfultool> do you need this fun

[2016-11-01 15:29] imunro commented on #279
The docs say "Global Variable combo-box to confine the scope of the global fit to a particular multi-well plate metadata parameter (e.g. ‘Row’ or ‘Column’). If a parameter is selected all images with the same parameter value will be globally analysed together."  If that's what you need ?

[2016-11-01 15:53] Powerfultool commented on #279
That’s what I was relying on – basically whether it’s possible to get sensible results for an experiment where there’s a variety of different things going on – probably useful for separating out some control stuff we’re doing at the moment, although I guess it’s possible to do that by changing what’s fitted in the data manager, if a bit time-consuming on occasion

From: imunro [mailto:notification

[2016-11-03 14:09] imunro opened #280 "Error on loading a single channel irf file with Polarisation data."
As reported by T.Cannon.

FLIMfit currently seems to allow this and then generates multiple error messages (see below) .
Some error checking needs to be added to load_irf.

Warning: Error occurred while executing callback:
Error using  *
Inner matrix dimensions must agree.

Error in flim_data_decay_view/draw_plot (line 285)
                plot_fcn(ha,obj.t_irf,obj.irf*scale,'r-.');

Error in abst

[2016-11-03 15:19] imunro opened #281 "Possible problem running multiple copies of FLIMfit."
N.Andrews reports a failure when using one copy of FLIMfit to create an IRF shift map, which is then loaded into a second copy of FLIMfit for fitting.
Using the same shift map file while only one FLIMfit is running appears to be fine.

Needs further investigation - but the obvious work-around of "don't do that" seems to have addressed the issue for now.

[2016-11-07 17:48] imunro commented on #279
The problem manifests in these lines

https://github.com/imperial-photonics/FLIMfit/blob/181f35759161f774ee2fc703c47312e6bb37dbca/FLIMfitFrontEnd/Classes/%40flim_fit_controller/filter_table_updated.m#L91-L95

where if I fit a 2x3 plate globally fit_result.image_size has 6 entries & fit_result.n_results ==6 so all is well.

If Global_variable is et to 'row' then there are only 3 entries in fit_resu

[2016-11-07 17:48] imunro commented on #280
Solved! Turned out that the Irf had only a single channel.

[2016-11-07 17:48] #280 closed

[2016-11-07 20:12] seanwarren commented on #275
Note to self
- check for better way remove squeeze.
- can we change aspect ratio of results?

[2016-11-08 00:59] Powerfultool commented on #279
Well, I guess if there’s only 3 rows… Duplicate the entries? If they’re a global, after all…

From: imunro [mailto:notifications@github.com]
Sent: 07 November 2016 17:48
To: imperial-photonics/FLIMfit
Cc: Kumar, Sunil; Mention
Subject: Re: [imperial-photonics/FLIMfit] Possible problem when using Global Variable - "Row" (#279)

The problem manifests in these lines

https://github.com/imperial-photo

[2016-11-09 14:24] Powerfultool opened #284 "Trying to fit with an IRF shiftmap generated the new way, and get an "Index exceeds matrix dimensions" error"
Crashed on pressing the "Fit Dataset" button:

Index exceeds matrix dimensions.

Error in flim_data_series/get_roi (line 397)

Error in flim_dll_interface/call_fitting_lib (line 56)

Error in flim_dll_interface/fit (line 185)

Error in flim_fit_controller/fit (line 83)

Error in flim_fit_controller/binned_fit_pushbutton_callback (line 284)

Error in flim_fit_controller>@(varargin)obj.binned_fit_pu

[2016-11-09 16:44] imunro commented on #284
Hi My recent changes are currently being reviewed by @seanwarren. Do you think you could put the dataset causing this problem somewhere that he can access please.

[2016-11-15 10:20] imunro commented on #279
@seanwarren If you need me to tackle this one just let me know,

[2016-11-18 00:59] seanwarren commented on #281
What is the exact failure mode here?

[2016-11-18 01:36] seanwarren commented on #279
So I've looked into this now. Quite a while ago I substantially modified the way FLIMfit talks to the backend, to reduce the memory use among other things. This broke the global variable feature (which essentially makes multiple calls to the backend). I should be able to restore this feature but it will take a little while.

I've made a small fix so far (PR287) which correctly retrieves the images